[2015-08-25 13:11] neomerx opened #2 "Resource creation doesn't comply with the spec"

[2015-08-25 13:38] nilopc commented on #2
Please provide examples

[2015-08-25 13:39] neomerx opened #3 "Route cache works incorrectly"
It doesn't invalidates when routes are changed.

[2015-08-25 13:41] neomerx commented on #2
http://jsonapi.org/format/#crud-creating-responses-201

compare with you sample output https://github.com/nilportugues/laravel5-jsonapi-transformer (sorry but you don't have markers)

[2015-08-25 13:43] nilopc commented on #2
Ooooh right @neomerx, this is a fix that needs to be done for the https://github.com/nilportugues/jsonapi-transformer/blob/master/src/Http/Message/ResourceCreatedResponse.php file, that's another library.

Thanks for spoting this bug!

[2015-08-25 13:48] nilopc commented on #3
I don't recall implementing route caching at all, this is delegated to the user and the framework itself.

I'm open to suggestions

[2015-08-25 13:50] neomerx commented on #3
So what's [this](https://github.com/nilportugues/laravel5-jsonapi-transformer/blob/master/src/NilPortugues/Laravel5/JsonApiSerializer/Laravel5JsonApiSerializerServiceProvider.php#L48-L56) then if not caching?

[2015-08-25 14:05] neomerx opened #4 "Where can user get ServerRequestInterface?"
Not a bug. Probably real life issue.

It's nice to comply with PSR7 however you do package for defined framework and from practical point of view how do you use `NilPortugues\Api\JsonApi\Http\Message\Request`? Using `Diactoros` or similar is overkill IMHO

[code]

[2015-08-25 14:10] neomerx commented on #4
just an idea. I had similar problem with [CORS support](https://github.com/neomerx/cors-illuminate) and used the fact that my packaged used only a few basic methods. So I created a [very thin adapter](https://github.com/neomerx/cors-illuminate/blob/master/src/Adapters/IlluminateRequestToPsr7.php) over Symfony Request.

[2015-08-25 14:16] nilopc commented on #3
ooooh, you need to enable cache by .env (`https://github.com/laravel/laravel/blob/master/.env.example` to `.env`)  to get it working.

But sure works. Just try setting it to redis adding proper config to `config/cache.php`.

[2015-08-25 14:24] neomerx commented on #3
This file is [created during installation process](https://github.com/laravel/laravel/blob/master/composer.json#L42) and caching is on by default.

[2015-08-25 14:47] nilopc commented on #4
Well, thing is, I don't like attaching myself to frameworks too much.

I'm using PSR-7's Symfony bridge because it's generic for all Symfony-component apps using its HttpFoundation. Symfony already supports PSR7 by default if brigde library is detected, but Laravel does not.

So yeah, for the time being it's an overkill for Laravel, but I wanted to release the package fast enough.

Definately it's

[2015-08-25 15:13] nilopc commented on #3
I'll do some investigations and fix it. I'll keep you posted.

[2015-08-25 16:36] nilopc commented on #2
Will be solved here: https://github.com/nilportugues/jsonapi-transformer/issues/36

[2015-08-25 16:36] #2 closed

[2015-08-25 19:36] nilopc commented on #3
I can :100:% confirm it **DOES** serialize. So this is no bug at all.

I will share my config with you:

[code]

[code]

[2015-08-25 19:36] #3 closed

[2015-08-26 16:56] #4 closed

[2015-08-27 20:37] neomerx commented on #2
@nilopc And as a 'thank you' for help you unstarred my version. Nice...

[2015-09-07 09:32] Remo opened #6 "better error handling"
I'm trying to get this package working but so far I only get a blank response from `JsonApiSerializer->serialize`. I believe my mappings should be okay, but I'll start debugging this.

It would be great if there was a better error handling and not just a blank return value though. Would certainly make it easier and more fun for those who haven't worked with this package before.

[2015-09-07 10:36] Remo commented on #6
once I started debugging I saw the problem, looks like there's an endless loop, not sure why it happens yet:
[code]

[2015-09-07 10:58] nilopc commented on #6
Could you provide an example? I'll look into it...

[2015-09-07 11:05] nilopc commented on #6
Seems to be failing because it cannot retrieve class properties from internal class... so question is, what's the internal class being used? If it's a special case, I should write its own serializer.

[2015-09-07 11:11] Remo commented on #6
I'm using the current laravel version and a super simple class:
[code]

and in my controller:
[code]

and my config:
[code]

[2015-09-07 11:15] nilopc commented on #6
Laravel Models out of the box use __get(),  meaning properties are magic. I see the problem.

Should code a special case for the` Illuminate\Database\Eloquent\Model` class, indeed.

I'll treat this as a bug.

[2015-09-07 11:39] nilopc commented on #6
Alright I've done some small testing and if nothing goes wrong this fix should up and ready today/tomorrow :+1:

[2015-09-07 11:48] nilopc commented on #6
If you can't wait, for now try editing the library's code file:
 `/vendor/nilportugues/laravel5-json-api/src/NilPortugues/Laravel5/JsonApiSerializer/JsonApiSerializer.php`

and replace it for this: https://gist.github.com/nilopc/45a473b2719016c4b22d

Something along the lines should do.... Could not run it (not home)!

[2015-09-07 18:35] nilopc commented on #6
@Remo you'll love this: https://github.com/nilportugues/laravel5-jsonapi-transformer/releases/tag/1.2.0

Thanks once again :) :+1:

[2015-09-07 18:35] #6 closed

[2015-09-07 19:10] Remo commented on #6
You're fast, awesome! I'll continue my tests, thanks!

[2015-09-07 19:12] nilopc commented on #6
@Remo let me know how it goes :)

[2015-10-16 15:12] diogoazevedos opened #8 "Relationship example"
Laravel version: **5.1**

Hi @nilopc,

I try to create a relationship between user and products, but the error below is showing, can you create an example?

*Error*
[code]

*User.php*
[code]

*jsonapi.api*
[code]

*routes.php*
[code]

*UserController.php*
[code]

[2015-10-16 17:27] nilopc commented on #8
OK I see what's wrong here. Problem is not in this library but in the foundation library api-transformer.

Problem here is that it's checking for $product in the User class. Eloquent models got no properties defined other that those in the $attributes property.... so the whole thing blows up.

I'll tag this as a bug. Let me fix it. Shouldnt take long.

[2015-10-16 17:47] nilopc commented on #8
Please update your composer dependency to use 1.2.2 or issue a composer update command.

Bug should be fixed. Thanks for reporting!

[2015-10-16 18:39] diogoazevedos commented on #8
Thanks @nilopc,

Is possible create relationship?
[code]

How?

[2015-10-16 20:39] nilopc commented on #8
Should be able to handle it using the 1.2.3 release. Products will get into relationships when values are fetched as a Product Eloquent Model from the database.

Mind helping me out with the testing? :)

[2015-10-16 23:31] nilopc commented on #8
@diogoazevedos Works as expected starting 1.2.5. You need to do nothing more than mapping.

I must warn you it will fetch all data unless you limit it using `take`, which is a sensitive thing to do. You can link to another resource with all the products paginated.

[code]

[2015-10-16 23:32] #8 closed

[2015-10-16 23:33] nilopc opened #9 "Update documentation"
# Add the following:

- Class Mapping
- Full Eloquent Example.
- Warning on fetching related eloquent models.

[2015-10-19 13:26] diogoazevedos commented on #8
Thank @nilopc!

[2015-10-19 13:58] nilopc commented on #8
:+1:  Let me know if it works as expected @diogoazevedos!

I'd like to know about other use cases other than mine!

[2015-10-20 19:16] #9 closed

[2015-11-08 01:22] tomc3 opened #10 "How to use Request objects"
In the documentations it says Request Objects `provides you access to all the interactions expected in a JSON API`
but i'm not sure how to  implement it. I will be great if you can provide some guide for using

[code]

[2015-11-09 11:05] nilopc commented on #10
I'm working on a full example and a trait for solving this instead of delegating in the library user do it. I'm halfway done with it.

I'll keep you posted!

[2015-11-14 10:45] nilopc commented on #10
@tomc3 here's a sample:
[code]

[2015-11-14 19:55] nilopc commented on #10
Check 1.3.0

[2015-11-16 18:43] tomc3 commented on #10
Many thanks :)

[2015-11-21 09:08] #10 closed

[2015-11-21 09:10] nilopc opened #11 "Add support for "append" values for Eloquent Models"
https://speakerdeck.com/player/461c80c526bd455796bbf69857af7b44 - See Slide 14

[2015-12-06 20:32] nilopc commented on #11
Fixed in dependency. See https://github.com/nilportugues/serializer-eloquent-driver/commit/184c7813ae5e008558b977c3697797030b0f0ba6

[2015-12-06 20:32] #11 closed

[2015-12-07 00:07] nilopc opened #12 "Update documentation for 2.0.0"

[2015-12-08 14:46] #12 closed

[2015-12-08 15:55] nilopc opened #13 "Add test for integration components src/"
Should not take much, doesn't add much either but users pointed it out over Reddit, so there's demand.

[2015-12-09 14:36] nilopc commented on #13
https://laracasts.com/discuss/channels/general-discussion/guide-how-to-run-integration-tests-from-a-package

Will help with my concerns on coupling with Laravel... It's the only possible way, apparently.

[2015-12-14 22:50] nilopc commented on #13
https://github.com/nilportugues/laravel5-jsonapi-transformer/commit/79629b3f1c3d6cce7b6ecab1b9a368eb8461128d

[2015-12-14 22:50] #13 closed

[2015-12-27 11:45] nilportugues opened #14 "Test won't pass using Laravel 5.2"
See https://travis-ci.org/nilportugues/laravel5-jsonapi/jobs/98958324

[2015-12-27 21:45] nilopc commented on #14
Seems like some internals have changed, so test-case needs to be reworked..bummer.

Yet application is compatible with Laravel 5.2. Will fix eventually... PR with fix would be cool.

[2016-01-01 23:46] jonphipps opened #15 "Error thrown with example code using Laravel 5.2"
I've implemented the code provided in the readme, and it fails under 5.2:
[code]
https://github.com/nilportugues/laravel5-jsonapi/blob/master/src/NilPortugues/Laravel5/JsonApi/Laravel5JsonApiServiceProvider.php#L140
[code]

Should return a route, but as of this commit:
https://github.com/laravel/framework/commit/cef79d827cc8024ba5c5295adff4e0efafcf4455
Laravel 5.2 checks the route for parameters a

[2016-01-03 22:04] nilportugues commented on #15
Yeah too bad they did happen to change more things that they actually documented they did...

Will have to create a release specific for this.. or somehow detect which laravel version is actually being used and load data in the convinient way.

[2016-01-05 00:02] nilportugues commented on #14
https://github.com/nilportugues/laravel5-jsonapi/commit/f22a5288f7f6e658e7686959467ce5602534a3df

[2016-01-05 00:02] #14 closed

[2016-01-05 00:03] nilportugues commented on #15
https://github.com/nilportugues/laravel5-jsonapi/commit/f22a5288f7f6e658e7686959467ce5602534a3df

[2016-01-05 00:03] #15 closed

[2016-01-05 00:08] nilportugues opened #18 "Add cache"
The Laravel51Provider class can do cache by generation a key with the $mapping array or with the new Mapper instance.

Operations such as Reflection should be cached, so it MUST be done before actually parsing routes.

[2016-01-05 00:39] nilportugues commented on #18
https://github.com/nilportugues/laravel5-jsonapi/commit/ef47a50cf2c409d7413acfb40a27bf955f6d52e2

[2016-01-05 00:39] #18 closed

[2016-01-05 00:55] nilportugues opened #19 "Add Cache to controller rest methods"
Using the eloquent class name and rest methods × query params, caching should be possible... improving performance which is good already.

[2016-01-08 14:08] apburton84 opened #20 "Illuminate\Foundation\Application not available in Lumen"
[code]

Illuminate\Foundation Does not exists in Lumen 5.1

From what I can see in Laravel5JsonApiServiceProvider::register() line 45, it is need to determine the version of Laravel.

[code]

[2016-01-08 14:16] nilportugues commented on #20
Whoops sorry for introducing this break!

Fixing this in a matter of minutes. Thanks for pointing it out @apburton84

[2016-01-08 14:17] apburton84 commented on #20
That would be superb, thank you.

[2016-01-08 14:20] nilportugues commented on #20
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.1.4 should do it.

Not at home but hey, it's was quick fix, but should work.  :)

[2016-01-08 14:52] #20 closed

[2016-01-08 15:02] nilportugues commented on #20
`composer require nilportugues/laravel5-json-api:2.1.5` will work for all lumen versions.

[2016-01-08 15:28] apburton84 opened #21 "None default namespace application"
```Fatal error: Class 'App\Http\Controllers\Controller' not found in vendor/nilportugues/laravel5-json-api/src/NilPortugues/Laravel5/JsonApi/Controller/JsonApiController.php on line 33```

Composer.json

[code]
As our namespace is not `App`

maybe the solution would be  using `Laravel\Lumen\Routing\Controller` as `App\Controller` is an extension of it.

[2016-01-08 15:42] gharding commented on #21
Just started using this application and considered the same thing under Laravel.

If a developer uses this repository with a non-standard top-level namespace then `App\Http\Controller` will not be found.

IMO the dependency should be on the classes contained in the framework - in Laravel's case the parent controller class is `Illuminate\Routing\Controller`.
To further this argument `App\Controller

[2016-01-08 15:47] nilportugues commented on #21
- I will look into this tonight and push a fix for this. Inheriting from `Illuminate\Routing\Controller` seems like the right choice here.

- In the routing it should be possible to user-define other than `App\Http\Controller`. In fact, in the test files for this library, that uses Laravel, I'm using `NilPortugues\Tests\App\Controller` for the Controller's namespace. Either case, I'll check again,

[2016-01-08 17:18] nilportugues commented on #21
@gharding @apburton84 JsonApiController` controller now extends from `Illuminate\Routing\Controller`.... with release 2.1.6 8 (see https://github.com/nilportugues/laravel5-jsonapi/commit/35a8d87234ff5c631738e4fdac81ba96feab999b)

Did not investigate the namespaces issues you're experiencing yet.

[2016-01-10 19:08] jonphipps opened #22 "Debug mode"
It would be useful to alter just a couple of behaviours if the app debug mode is set to true, as it would be during development:

* Don't cache the mappings.
* Return the full $e instead of a 400 error in ```NilPortugues\Api\JsonApi\Server\Actions\GetResource->getErrorResponse($e)```

I simply used:
[code]

[2016-01-11 03:39] jonphipps opened #23 "soft delete implements force delete and runs it on a http GET"
At least that's what it looks like. As soon as I implement the eloquent softdelete trait in the model and do a get on the resource it's deleted rather than retrieved.

[2016-01-11 11:02] gharding commented on #21
@nilportugues

The non-standard namespacing issue comes from the fact that `App\Http\Controller` is hard-coded in `NilPortugues\Laravel5\JsonApi\Controller\JsonApiController`.

The latest fix will work perfectly for Laravel (I've tested it, and it's all good) however this won't fix the issue for Lumen users. `Illuminate\Routing\Controller` is not present in Lumen, so this will only swap out one ex

[2016-01-11 15:53] jonphipps commented on #23
This is actually pretty serious. It looks like forceDelete is being run every time from
[code]

[2016-01-11 16:12] nilportugues commented on #23
I'll have a look at it

[2016-01-12 13:44] nilportugues commented on #23
@jonphipps Please use version 1.0.4 of the nilportugues/serializer-eloquent package..By updating with composer update or forcing the package in the composer.json your problems should be solved.

Thanks for reporting and your patience!

[2016-01-12 13:46] nilportugues commented on #23
@jonphipps report me if your problems are solved, and I'll close this bug.

[2016-01-12 18:50] andrewboy commented on #23
Hi!

I was that guy, who reported you last week by mail. I'm glad you fixed it! I'll try it out tomorrow!

Thanks!

[2016-01-12 19:23] nilportugues commented on #23
@andrewboy :+1: let me know if it works either by mail or here.

[2016-01-12 22:01] jonphipps commented on #23
Nope.

I think line 147 needs to change from:
[code]
to:
[code]

[2016-01-12 23:12] nilportugues commented on #23
@jonphipps @andrewboy Hopefully it will be fixed now. Use 1.0.5 for the `nilportugues/serializer-eloquent` package. I started adding tests for it... https://github.com/nilportugues/serializer-eloquent-driver.

Please add more tests or try reproduce your bug there by bringing in your eloquent models there! It would be of great help and not only `laravel5-jsonapi` package would benefit but also `lar

[2016-01-13 08:20] pnghai opened #24 "Got problem when try to add package (symphony/http-foundation)"
Please help, I got this error when try to install your package to my Laravel 5.2 project.

<pre>Problem 1
    - Conclusion: don't install nilportugues/laravel5-json-api 2.1.5
    - Conclusion: don't install nilportugues/laravel5-json-api 2.1.4
    - Conclusion: don't install nilportugues/laravel5-json-api 2.1.3
    - Conclusion: don't install nilportugues/laravel5-json-api 2.1.2
    - Conclusion:

[2016-01-13 10:23] nilportugues commented on #24
I'll have a look at this. Should be easy to solve. Let's find the dependency... or set an alternative version for the dependency causing the conflict

[2016-01-13 11:36] nilportugues commented on #24
@pnghai I can't seem to be able to reproduce your bug at all. I tried pulling the repository with the dependency using the following `composer.json` file and no problems occurred.

[code]

Mind sharing your dependencies?

[2016-01-13 13:14] wlepinski commented on #24
Same error here.
I think the problem is here:
`nilportugues/json-api 2.1.0 requires symfony/http-foundation ^2.7 -> satisfiable by symfony/http-foundation[v2.7.0, v2.7.1, v2.7.2, v2.7.3, v2.7.4, v2.7.5, v2.7.6, v2.7.7, v2.7.8, v2.8.0, v2.8.1].`

[2016-01-13 13:24] wlepinski commented on #24
Adding `"nilportugues/laravel5-json-api": "dev-master"` on package.json worked for me.

[2016-01-13 13:40] nilportugues commented on #24
ooh, 2.1.0 ... well, time for you all to update to 2.1.5... @wlepinski @pnghai.

While I keep dev-master stable 99.9% percent of the time, it's better if you all use a stable version.

[2016-01-13 13:41] nilportugues commented on #23
I believe it won't happen anymore. I have fully tested `nilportugues/serializer-eloquent` and seems everything is OK. Please, report the bug there if something weird is still going on :)

I'm closing this, but feel free to comment @jonphipps @andrewboy is any issue raises.

[2016-01-13 13:41] #23 closed

[2016-01-13 16:14] wlepinski commented on #24
@nilportugues The thing is that I just did a `$ composer require nilportugues/laravel5-json-api` and for some reason  the package on laravel5-json-api asks for a nilportugues/json-api: ~2.1, composer them used the version 2.1.0 instead of 2.1.3 that is your latest version deployed on Packagist (https://packagist.org/packages/nilportugues/json-api).

Maybe you need to put ^2.1.* as the required ver

[2016-01-13 17:18] nilportugues commented on #24
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.1.7

[2016-01-13 18:41] nilportugues commented on #24
@wlepinski @pnghai let me know if 2.1.7 solves this... or send me a PR to any of the libraries involved that I manage :)

[2016-01-13 19:02] nilportugues commented on #21
Lumen users should use LumenJsonApiController.

@gharding @apburton84
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.1.8

[2016-01-14 05:36] pnghai commented on #24
I use "nilportugues/laravel5-json-api": "2.1.*" with your 2.1.8 version and thing works well.

I noticed that the error occur when I just use the automatic-version-detection command ("composer require nilportugues/laravel5-json-api"), below is the error:

<pre>
require nilportugues/laravel5-json-api
Using version ^2.1 for nilportugues/laravel5-json-api
./composer.json has been updated

Loading com

[2016-01-14 07:59] nilportugues commented on #24
Sounds like it's because of your composer cache... `COMPOSER_CACHE_DIR=/dev/null composer update` should do the trick

It's a composer issue then. :)

[2016-01-14 07:59] #24 closed

[2016-01-14 17:06] wlepinski commented on #22
https://github.com/nilportugues/laravel5-jsonapi/blob/master/src/NilPortugues/Laravel5/JsonApi/Providers/Laravel51Provider.php#L28

This turns development a pain. I have to `php artisan cache:clear` every time I change something on the mapping.

[2016-01-14 17:34] nilportugues commented on #22
Indeed it's a good time to address the issue @wlepinski :) :+1:

[2016-01-15 17:45] pnghai opened #25 "Inclusion with belongsTo relationship"
Hi there,

I have a property which belongs to another model (belongsTo relationship), how can I implement to include it in the inclusion part of json?

For example: just take your default example, is there anyway to show the employee information in the inclusion part of order result? (the opposite direction of your default example.)

[2016-01-16 04:09] pnghai commented on #25
Hi there,

I figure it out that your line to extract result and convert to a proper model is lack of treating the return value as a single object:

Path: \nilportugues\serializer-eloquent\src\Helper\RelationshipPropertyExtractor.php
[code]

[2016-01-16 08:56] nilportugues commented on #25
I'll test it and update the library if that's the case.

[2016-01-16 09:49] nilportugues commented on #25
Added to https://github.com/nilportugues/serializer-eloquent-driver @pnghai.

Could you help me coding the remaining examples listed in the serializer-eloquent-driver to spot any missing cases?

[2016-01-16 09:49] #25 closed

[2016-01-18 05:14] pnghai commented on #25
Sorry, I check your response late. I'd check your remaining examples this weekend.

Regards,

[2016-01-18 16:47] apburton84 opened #26 "loss of default page size"
$apiRequest = RequestFactory::create();
    $page = $apiRequest->getPage();

    if (! $page->size()) {
        $page->setSize(5); // Default elements per page
    }

When using the above code at the top of a controller action, as is done in the example in the README.

After calling EloquentHelper::paginate() the $page->size() returns null.

I believe this to be caused by the fact that $page is no

[2016-01-18 18:19] nilportugues commented on #26
Today I actually solved this bug, as someone else spotted the error at https://github.com/nilportugues/php-json-api/commit/1c955b9297075ad298c9e58427e47e729d9e4bf4

Try updating the dependency and it will be automagically fixed.

Thanks for reporting :)

[2016-01-18 18:57] apburton84 commented on #26
This does not resolve the issue, it just defaults the page_size to 10, it does not let the end user specify a default.

[2016-01-18 20:23] nilportugues commented on #26
@apburton84  OK, I'll fix this and allow customization using a `protected $pageSize` class property. Give me some minutes :)

[2016-01-18 21:04] nilportugues commented on #26
https://github.com/nilportugues/laravel5-jsonapi/commit/7644cb84b41088a99bf3ef31e597841dd8ff47b9 :+1:

https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.1.9

[2016-01-18 21:04] #26 closed

[2016-01-18 21:14] apburton84 commented on #26
Looks good, I will test first thing in the morning. Thanks

[2016-01-18 21:16] nilportugues commented on #26
@apburton84 glad I could help. Let me know if you find anything else that needs fixing/ajusting

[2016-01-19 10:16] apburton84 commented on #26
@nilportugues Unfortunately setting $pageSize in a controller does not alter the page size.

I have the following in my controller

    protected $pageSize = 20;

The problem is here

https://github.com/nilportugues/php-json-api/blob/master/src/Http/Request/Request.php

    /**
     * @return \NilPortugues\Api\JsonApi\Http\Request\Parameters\Page
     */
    public function getPage()
    {

[2016-01-19 11:37] nilportugues commented on #26
@apburton84 I undid the PR on the original package. It should be null there, not 10.

Get 2.1.5 for json-api package.

[2016-01-19 22:59] apburton84 commented on #26
Hi @nilportugues

Thanks for your time and help.

Could you confirm please that if you replace the contents of

    public function getOrdersByEmployee(Request $request)

In the example in the README, With the following.

        $apiRequest = RequestFactory::create();
        $page = $apiRequest->getPage();

        if (!$page->size()) {
            $page->setSize(666); //Default elements per pag

[2016-01-20 08:38] nilportugues commented on #26
@apburton84 This needs investigation. I will test it out with my test application (I guess I should upload it somewhere too).

Thanks for the detailed explanation. It will help me out figuring out where it's failing to do what it's supposed to do.

[2016-01-21 12:04] apburton84 commented on #26
@nilportugues Do you have a away to donate to this project ?

[2016-01-21 14:28] apburton84 opened #27 "Inclusion of relationships in data items"
When requesting the following endpoint **/api/v1/user/1**

I would expect the relationships attribute to be present in the data section and for it to contain any related objects for each item.  However it is not.

If I request **/api/v1/user/1/client** I get the relationships returned for the client object, which is all the users associated to the client.

The only difference that I can see betwee

[2016-01-21 15:03] apburton84 commented on #27
I believe the issue the problem is in https://github.com/nilportugues/serializer-eloquent-driver/blob/master/src/Helper/RelationshipPropertyExtractor.php

The if statement on line 89 will always fall into the first clause, if the clause are reversed relationships are returned.

[2016-01-21 21:00] apburton84 commented on #27
This issue is related https://github.com/nilportugues/laravel5-jsonapi/issues/25

[2016-01-21 23:16] adamkelso opened #28 "No method 'resource' available in Lumen"
Lumen does not include some of the route methods available in Laravel, like ```resource()```. Simple fix, but you'll want to update the docs with the proper lumen routes.

[2016-01-22 09:08] nilportugues commented on #28
@adamkelso true. Thanks

[2016-01-22 09:08] #28 closed

[2016-01-22 09:14] #21 closed

[2016-01-22 15:44] nilportugues commented on #27
@apburton84 try doing a composer update for the eloquent serializer. There have been fixes today. These may solve your problem.

I haven't checked this issue yet. Thanks for your patience

[2016-01-23 22:35] apburton84 commented on #27
@nilportugues Yes, this does resolve the issue, thank you

[2016-01-24 17:50] nilportugues commented on #27
Great! I'm closing this bug then!

[2016-01-24 17:50] #27 closed

[2016-01-25 18:43] ven7ura opened #29 "Testing URI problem."
When I try to test with phpunit I get the following errors when I try to access the api:

[code]

If I try to access with the browser or postman, I correctly get the data. So the problem is only when in a testing environment.

Any help will be appreciated.

[2016-01-25 19:55] nilportugues commented on #29
This is actually a weird behaviour in Laravel. Hopefully this will fix your issues.

Try borrowing the call function in the tests: https://github.com/nilportugues/laravel5-jsonapi/blob/master/tests/NilPortugues/Laravel5/JsonApi/LaravelTestCase.php#L114-L125

[2016-01-25 20:49] ven7ura commented on #29
Thanks, that resolves he issue.

[2016-01-25 20:49] #29 closed

[2016-01-25 21:44] nilportugues commented on #29
@ven7ura great :smiley:

[2016-01-28 09:35] andrewboy opened #30 "php artisan vendor:publish error"
After I set the package, on vendor:publish I get this error message:

[ErrorException]
mkdir(): Invalid path

[2016-01-28 11:28] nilportugues commented on #30
Clearly a bug.

Do it manually, while I fix this if you don't mind.

[2016-01-28 14:45] andrewboy opened #31 "Client-Generated ID"
Hi!

When I want to store a model with a pre-defined ID, in the JsonApiController class createResourceCallable method

            if (!empty($data['id'])) {
                $model->setAttribute($model->getKeyName(), $values['id']);
            }

I think the $values['id'] have to be $data['id'].

[2016-01-28 16:33] nilportugues commented on #31
Tagging as bug for the time being.

Need to investigate. Will write a test and see if i can reproduce this.

[2016-02-01 02:52] tenzan opened #32 "Error running `composer require nilportugues/laravel5-json-api`"
I'm using Laravel `5.2`.

When I run `composer require nilportugues/laravel5-json-api`, I'm having error:

[code]

[2016-02-01 09:30] nilportugues commented on #32
Digging into this. Totally weird as I've tested this using a clean Laravel 5.2 before...

[2016-02-01 09:32] tenzan commented on #32
Thanks. I forgot to mention I l'm experiencing this in Mac OS X El-Captain.

[2016-02-01 09:46] nilportugues commented on #32
@tenzan Alright. I've fixed this. Make sure it downloads nilportugues/json-api 2.1.6

A composer update should fix this, as bug was in parent package, not  inthis laravel package.

[2016-02-01 09:46] #32 closed

[2016-02-02 00:59] tenzan commented on #32
:+1:

[2016-02-02 02:20] tenzan opened #33 "Can't figure out the file names and their paths"
Hi, I'm at the `EmployeesTransformer` section now.

It says:

1. Can you please tell me where in the app and what file name should I create for the code snippet you showed there?

2. And when you say `Employees (Eloquent Model)`, is it `Employees.php` under `app/Models`?

It'd be easier to follow for newbies if you provide with file names and their paths, so that it'll be easier to learn.

Thanks

[2016-02-02 07:39] nilportugues commented on #33
You can create this file anywhere. I would just create a directory for it, close to your models or controllers directory.

Yes, Eloquent Model refers to app/Models/Employee.php. Any recomendation or suggestion for better wording in the README?

[2016-02-02 07:46] tenzan commented on #33
Yeah, sure. For example, `README.md` file has:

[code]

Here I clearly see that the file name is `routes.php` and it's located in the `app/Http/`.
Such way, it's quite easy to follow the instructions... ;)

[2016-02-02 11:11] nilportugues commented on #33
@tenzan :+1: added more explicit placement of the Transformer files in the readme.

Open a new issue if more accurate explanations are required in any part.

Thanks!

[2016-02-02 11:11] #33 closed

[2016-02-02 11:25] tenzan commented on #33
:+1

[2016-02-11 17:03] thanik opened #34 "I got ErrorException in MappingFactory.php line 112."
I'm using Laravel 5.2 and I already created a model, a transformer, a controller but I got an error like this which I can't investigate what is the cause of the error.

I have 3 models. Organization, Course and User. Organization has many courses and users. Courses and users are using many to many relationship.

ErrorException in MappingFactory.php line 112:
Argument 1 passed to NilPortugues\Api\M

[2016-02-11 17:18] nilportugues commented on #34
Can you share the relationships? I mean, as defined in your code.

No need for the columns. I want to try reproduce the error.

[2016-02-11 17:20] nilportugues commented on #34
I believe a mapping of yours is not defined as expected from reading the error...

[2016-02-11 17:26] thanik commented on #34
I use both MySQL and MongoDB for databases (so I use https://github.com/jenssegers/laravel-mongodb as my connection to MongoDB database) but I think that's not the cause of the issue.
Here are my models defined.

User
<?php

namespace App;

use Illuminate\Foundation\Auth\User as Authenticatable;
use Jenssegers\Mongodb\Eloquent\HybridRelations;

class User extends Authenticatable
{
    use HybridRe

[2016-02-11 18:28] nilportugues commented on #34
@thanik i'll dig in :)

[2016-02-11 20:06] thanik commented on #34
For more investigation, I will post the transformer.

UsersTransformer
[code]

OrganizationsTransformer
[code]

CoursesTransformer
[code]

Actually, I have an another question. I doubt about the return value of getRelationships() which I have to return as array but how?

[code]

Is it correct to return like this?

[2016-02-11 20:38] nilportugues commented on #34
For getRelationships(), if not `[]`, keys much match a property name. From the `nilportugues/json-api` documentation:

[code]
---

I'm assuming your jsonapi.php file is something such as this (with or without the ::class notation)
[code]

Right?

[2016-02-11 20:55] thanik commented on #34
Yes, my config/jsonapi.php is like this.
[code]

[2016-02-11 21:03] thanik commented on #34
I'm sorry for stupid question above haha. I only saw this package's documentation and I didn't know that I have to read another documentation for transformer. It would be nicer if you include the link in this package's documentation for a newbie like me.

[2016-02-14 08:57] directrix1 opened #35 "Routing Doesn't Work in Route Groups"
Nevermind, you have to put the fully prefixed references to links in the getUrls section.

[2016-02-14 09:05] directrix1 commented on #35
This applies to links that you tell it to return in the getUrls method of the JsonApiMapping subclass.

[2016-02-14 09:16] #35 closed

[2016-02-15 23:04] directrix1 opened #36 "getHideProperties not honored in "included" resources"
The properties are properly hidden when you access the resource directly, but not when it is in the "included" section.

[2016-02-15 23:08] directrix1 opened #37 "getAliasedProperties does not rename properties in returned resource"
With something like:
public function getAliasedProperties() { return ['organization_name' => 'organizationName']; }
I would expect the field to be called organizationName in the resource, but it is not.

[2016-02-16 23:10] directrix1 opened #38 "All relationships are automatically added to included"
The included section automatically adds any resources listed in a relationship of the primary data. This should be optional.

[2016-02-16 23:11] directrix1 opened #39 "Relationships in the resources in the "included" section are not shown"
All resources in the included section are devoid of their "relationship" section.

[2016-02-18 11:11] apburton84 opened #40 "Hydrated Model Relations Get Re-Fetched"
If a model has had it's relations hydrated prior to a being passed to **ListResource::get()**, will the same relations be re-fetched, i.e. does **laravel5-jsonapi** know that there is data already present in the relation or does it just fetch them regardless ?

    $results = Listing::searchByQuery(false, false, false, $limit, false, false);
    $results = Listing::hydrate($results->toArray());

[2016-02-18 11:46] nilportugues commented on #40
The serializer does no cache for the persistence layer. It does cache the serialization process, so an object is not processed twice.

Maybe you should add Laravel's `Cache::` to some closure method/s provided by this package to provide some cache layer.

You could also pass in an array by reference and use this array as a cache.

I'm planning on providing a basic cache mechanism in the next major

[2016-02-18 11:49] nilportugues commented on #39
Thanks for reporting. I'll look into it.

I remember thinking on this when I first coded the library. Unsure if these are meant to appear according to the 1.0 JSONAPI specification. Need to check.

[2016-02-18 11:52] nilportugues commented on #38
The only way to do this optionally is to define another object and do not set or set the data there...it was done on purpose for 1.0.0

If I was to implement this and make it configurable, how would you approach it? I mean, using the configuration file.

There's plenty of cases to make this "optional" value true or false, for example... if a certain attribute matches a value, or if it's parent cla

[2016-02-18 11:56] nilportugues commented on #37
Could you share your model so I can write a test to fix this?

I wonder what's missing, as this should make your database/schema column `organization_name` from the Eloquent Model to be renamed to `organizationName`.

Is `organization_name` a dynamic field maybe?

[2016-02-18 11:57] nilportugues commented on #36
Will write test for these and fix. Thanks for reporting.

[2016-02-18 12:05] apburton84 commented on #40
Thanks for your response

and apologises for my ignorance, but how would do the above ?

[2016-02-18 13:20] nilportugues commented on #40
https://laravel.com/docs/5.2/cache#cache-usage

`Cache::get('key')` and `Cache::add('key', 'value', $minutes)`... is what you're looking for.

[2016-02-18 13:20] #40 closed

[2016-02-18 15:56] andrewboy opened #41 "ErrorBag missing on create"
Hi!

In JsonApiTrait

[code]
The ErrorBag object not passed through the parameter list.

It should be:

`
return function (array $data, array $values, ErrorBag $errorBag) {
`

[2016-02-18 16:29] apburton84 commented on #40
Thank you for that, could you point me to the right file within laravel5-jsonapi that caches the process ?

[2016-02-18 17:36] nilportugues commented on #41
Mind writing a PR then ? :)

If not I'll do it when I get home. Thanks :D

[2016-02-19 09:08] andrewboy commented on #41
It's very sad, that the PHP let the code running foward, when a parameter is missing. :(

[2016-02-19 09:59] apburton84 commented on #40
Bump!

[2016-02-19 10:45] nilportugues commented on #41
This is, it will create an array instead of the object... but ends unused.

[2016-02-19 12:02] nilportugues commented on #41
Actually in the code is being passed, the callable was missing the third argument.

[2016-02-19 12:03] nilportugues commented on #41
https://github.com/nilportugues/laravel5-jsonapi/commit/d060d22e8277adab6071932c796194d6802bdede

[2016-02-19 12:03] #41 closed

[2016-02-19 13:47] nilportugues commented on #40
@apburton84 https://github.com/nilportugues/laravel5-jsonapi/blob/f7c56c99c66e7229a2a730e3e4cdf7fc5612c389/src/NilPortugues/Laravel5/JsonApi/Controller/JsonApiTrait.php

[2016-02-19 14:55] apburton84 commented on #40
Thank you @nilportugues

[2016-02-19 15:43] apburton84 commented on #40
Unfortunately none of those methods get call in the process ? I overrode them in my model which uses the JsonApiTrait and replaced there content with **exit;**

The use case for this scenario is, if you have hydrated models relations, because this data is elsewhere i.e. in elastic search not in Mysql DB.

    listing->listingType

listing is fine, the DB is not hit but for listingType it is, even

[2016-02-26 21:56] timnolte commented on #34
I too have this same problem. :( And I'm getting: ``Cannot instantiate abstract class Illuminate\Database\Eloquent\Model in .../vendor/nilportugues/laravel5-json-api/src/NilPortugues/Laravel5/JsonApi/Mapper/MappingFactory.php on line 36``

I was so hoping to speed up my whole JSON API implementation my using this library but I'm afraid I might have to look elsewhere because this issue just stops m

[2016-02-27 00:14] jeremymlane commented on #26
FYI, looks like the issue is that it defaults to using the model's `protected $perPage` attribute instead of the controller's `protected $pageSize` attribute.

Take a look at line [36 of EloquentHelper.php](https://github.com/nilportugues/laravel5-jsonapi/blob/master/src/NilPortugues/Laravel5/JsonApi/Eloquent/EloquentHelper.php#L36).

That line always passes in null unless `page[size]` has been sp

[2016-02-29 19:22] directrix1 commented on #38
Maybe add another method to the JsonApiMapping interface:
[code]

[2016-03-02 08:20] OskarD opened #42 "Lumen installation throws action() exception"
I am trying to implement this with a Lumen application, and I get the following exception:

[code]

Am I missing something or are there compatibility problems?

JsonApiTrait uses the action() helper, which is unavailable with Lumen.

[2016-03-02 09:35] OskarD commented on #42
I think something went wrong in my set-up. I re-did everything and didn't get this error anymore.

I am getting this, however:
`"status": 400,
"title": "Bad Request",
"detail": "Request could not be served."`

Not much to go by here... Any tips?

[2016-03-02 09:52] nilportugues commented on #42
Hmm go to the NilPortugues\Laravel5\JsonApi\Controller\JsonApiTrait and go to the exception bit matching your action and do a print_r or a $e->getMessage.

You'll get the info there.

I've been already requested to add a dev flag to let these errors go up, instead of catching them. But haven't had time to add the feature yet.

[2016-03-02 09:56] nilportugues commented on #38
I'm unsure this is actually something I should allow, as there's the `include` query param to decide which to include defined in the standard.

[2016-03-02 10:03] OskarD commented on #42
I am getting the first error again, I don't know why it only happens randomly... It's because JsonApiTrait uses the action() helper on line 74. Is it supposed to do this?

[2016-03-02 13:06] OskarD opened #43 "getAlias value not mirrored in response"
I have this code in my PartiesTransformer class

    public function getAlias()
    {
        return 'party';
    }

but when I GET the list of the resource, it shows `"type": "parties"`

[2016-03-02 13:38] nilportugues commented on #43
Make sure the Parties class is mapped in the public function getClass(). Otherwise it won't change the name.

Check the tests directory, where this is actually done:

- The transformer: https://github.com/nilportugues/laravel5-jsonapi/blob/master/tests/NilPortugues/App/Transformers/EmployeesTransformer.php

- The result: https://github.com/nilportugues/laravel5-jsonapi/blob/master/tests/NilPortugu

[2016-03-02 13:38] #43 closed

[2016-03-02 13:40] nilportugues commented on #42
@OskarD did you solve this? I'm actually curios what was making it happen...  so maybe I can add a defensive check.

[2016-03-02 13:41] OskarD commented on #42
@nilportugues no, it's still happening.

Why is it calling the action() helper-function? Is it supposed to happen? It isn't featured in Lumen

[2016-03-02 21:23] directrix1 commented on #38
Yeah, but what I'm talking about is just what is included by default, as the spec mentions this being vendor specific.

 When the include query param is included getDefaultIncluded should be totally ignored.

[2016-03-03 15:14] gharding commented on #26
I just came here about to report this very issue. I can confirm however that the workaround proposed by @jeremymlane does work.

Cheers @jeremymlane

[2016-03-03 15:14] apburton84 commented on #26
@jeremymlane cheers!

[2016-03-08 13:28] OskarD commented on #42
@nilportugues the action() function is not available in Lumen, it shouldn't be called in JsonApiTrait (Line 74) if using Lumen, should it?

[2016-03-08 15:35] nilportugues commented on #42
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.1.11

Try updating your composer dependency to use release `2.1.11`.

[2016-03-08 15:57] OskarD commented on #42
Thank you @nilportugues for helping out, but I'm afraid it isn't enough

`$absolute` in the `action` arguments needs to be defaulted to true for the code to run without an `Missing argument 3` error, and after fixing that I get this error instead: `Fatal error: Call to undefined method Laravel\Lumen\Routing\UrlGenerator::action()`

I don't think Lumen offers the action functionality at all :/

[2016-03-08 16:25] nilportugues commented on #42
I'll have to hack it better. Not at home right now. Sorry is taking so long.

[2016-03-08 16:34] nilportugues commented on #42
@OskarD try replacing that line for ... this may work

```$uri = Container::getInstance()->make('url')->action($controllerAction, [], true);```

[2016-03-09 08:42] OskarD commented on #42
It's OK, I am very glad you are willing to help :)

[2016-03-10 10:45] gharding opened #44 "Previous page not setting in pagination on page 2"
The pagination links in the returned JSON API response include the previous link on all pages except for pages 1 and 2. This is understandable and correct for page 1, however page 2 should have a previous page included.

Having looked through the code I can see on line 179 of json-api/src/Server/Actions/ListResource.php that the previous page number is set if the value is greater than 1:

`'previo

[2016-03-10 23:26] jonaholsson opened #45 "Unable to get serializer in Controller working"
I have extended my controller to LumenJsonApiController, but I'm not getting the Serializer (NULL). All output from the controller is untouched json when doing `return $results` or similar from my methods. What am I doing wrong?

[2016-03-11 11:06] marcogrueter commented on #29
Could you add this to the documentation? Or give me a hint in what form you'd like to have that, so I can supply a PR? I've just struggled with this for about an hour.

[2016-03-11 12:15] nilportugues commented on #29
it just fails, because `php-cli` does not have the same values as `php-fpm` or `php-cgi`. I remember it took me quite a lot to figure as well. I'm sorry

I agree I should provide a base test file for this case... and add it to the documentation. Wanna help @marcogrueter ?

[2016-03-11 12:56] jonaholsson commented on #45
Problem solved. I realized I forgot to remove a `__construct()` function in my Controller which override the JsonApi controller.

[2016-03-11 12:56] #45 closed

[2016-03-11 12:59] nilportugues commented on #45
Glad you solved it. :+1:

[2016-03-11 13:22] marcogrueter commented on #29
Sure! Let me know what I can do.

[2016-03-11 16:35] nilportugues commented on #29
@marcogrueter describe your solution here, create a JsonApiTestCase file and edit README explaining about this. :)

[2016-03-14 14:09] OskarD commented on #42
@nilportugues have you had the chance to take a look at this yet?

[2016-03-14 14:59] nilportugues commented on #42
Starting tomorrow evening I'll be capable to look into it.  Been quite busy lately

[2016-03-14 15:06] obayesshelton commented on #30
Any news on this bug?

[2016-03-14 15:44] nilportugues commented on #30
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.1.12 :)

[2016-03-14 15:48] obayesshelton commented on #30
Thanks :)

[2016-03-16 00:38] samgreenwood opened #46 "Relationships Example"
Hi,

Is there an example anywhere for relationships with this package and being able to call them with ?include=[relationship]?

Thanks.

[2016-03-16 04:40] samgreenwood commented on #38
I've done some digging and found that the serializer-eloquent package serializes all relationships on the model, fetching them causing quite a bit of slowness, from what I can tell this is also what is causing relationships to always show in 'included' regardless if they're specified or not.

https://github.com/nilportugues/serializer-eloquent-driver/blob/master/src/Driver.php#L98-L103

[2016-03-21 10:42] apburton84 opened #47 "Relational Sorting"
Is relational sorting implemented ? if so, is there documentation.

    http://localhost/api/v3/listing?sort=client.id

http://jsonapi.org/format/#fetching-sorting

"It is recommended that dot-separated (U+002E FULL-STOP, ".") sort fields be used to request sorting based upon relationship attributes. For example, a sort field of author.name could be used to request that the primary data be sorted

[2016-03-21 10:49] apburton84 commented on #47
I believe the answer is no

    /**
     * @return \NilPortugues\Api\JsonApi\Http\Request\Parameters\Sorting
     */
    public function getSort()
    {
        $sort = $this->getQueryParam('sort');
        $sorting = new Sorting();

        if (!empty($sort) && is_string($sort)) {
            $members = \explode(',', $sort);
            if (!empty($members)) {
                foreach ($members as

[2016-03-21 14:01] nilportugues commented on #47
@apburton84 I believe you're right.

[2016-03-21 16:51] apburton84 commented on #44
This is actually in https://github.com/nilportugues/php-json-api, I have create a pull request to resolve https://github.com/nilportugues/php-json-api/pull/52

[2016-03-29 07:59] OskarD commented on #42
Any news @nilportugues?

[2016-03-30 11:54] OskarD opened #48 "Simplified models"
Instead of returning models with their relationships, I would like to return them with their related properties instead. For instance, let's say I have this database structure:

[code]
I would want to return this as the user attributes:
[code]
How can I approach this?

[2016-03-30 22:43] nilportugues commented on #48
**Option 1**
Fetch data as normal, create a new object to represent data as you want and use the mapping (same as if it was an eloquent model) tol serialize as you like.

**Option 2**
Write the SQL for the query (JOIN) and serialize the resulting object (stdClass)

**Option 3**
Write a [SQL VIEW](http://www.tutorialspoint.com/sql/sql-using-views.htm) and create a new Eloquent model class that read

[2016-03-31 07:10] OskarD commented on #48
Thank you for a great answer!

However, options 2 and 3 would not support the one-to-many relationship (user_notes), right? So my only option is 1?

[2016-03-31 12:46] nilportugues commented on #48
You can write relationships based on your view...  so option 1 and 3.

[2016-04-01 00:00] samkeen opened #49 "Provided route name does not exist"
I'm attempting to implement the README example. I got it working initially, but then "something" happened as I was making changes and I started getting "Provided route name does not exist" error for all requests.
I've since rebuild the README example from scratch and I'm getting this error right off the bat.

I see where it is being thrown, but I'm not able to determine why?  Any help/pointers is

[2016-04-01 00:33] samkeen commented on #49
oh, and here is the log trace:

[code]

[2016-04-01 08:45] OskarD commented on #48
I am not sure I understand... Do you mean a mix of option 1 and 3?

[2016-04-01 11:15] nilportugues commented on #48
You can create a view, and then create a new eloquent model to map to that view... and code the relationships you need to show.

[2016-04-01 12:28] OskarD commented on #48
So a view like this:
`CREATE VIEW special_users AS
SELECT users.id, users.name, user_groups.name
FROM users
LEFT JOIN user_groups ON users.group_id = user_groups.id`

And then code the SpecialUser class with the relationship like normal? That would not be enough to make a fully "simplified" model :/

[2016-04-03 10:48] giggo1604 commented on #49
Can confirm this Problem, any solution yet?

[2016-04-03 16:56] samkeen commented on #49
@giggo1604 not on my side, although I've paused work on this for now, will return to it in a couple weeks (traveling) or prior, if possible solution appears in this thread in the meantime.

[2016-04-04 08:16] OskarD commented on #22
@jonphipps where did you put that code? I can't get it to work

[2016-04-04 09:27] OskarD opened #50 "Undefined index: [Random relation]"
I am getting this error when listing my resource:
[code]

`App\Party\Group` is a model related to the listed resource, which is `App\Party\Party`.

I tried clearing my cache etc. and it seems like the undefined index is different every time. It it always the classname of one of the listed resource's relations. The index (The `$mappings` variable) only contains the classname of the listed resource,

[2016-04-04 15:05] nilportugues commented on #50
@OskarD Mind sharing the table schema/s?

All I can think of is a bug on the underling json-api package... setting up relationships wrong for some case I didn't take into accound.

[2016-04-04 15:06] nilportugues commented on #49
@samkeen @giggo1604 I'll look into this.

[2016-04-04 17:35] andreipokotskiy opened #51 "example doesn't work"
on get request:
NilPortugues\Api\Mapping\MappingFactory::fromArray() must be of the type array, string given .....

[2016-04-04 22:00] nilportugues commented on #51
True... change employees.get to employees.show for `OrdersTransformer`.

Thanks for the heads up.

[2016-04-04 22:00] nilportugues commented on #51
https://github.com/nilportugues/laravel5-jsonapi/commit/141c47dc75a1d7d16f8c70466104fdda70c9ad16

[2016-04-04 22:00] #51 closed

[2016-04-04 22:31] TBarina commented on #30
I still have this problem in Laravel 5.2.

My composer shows:
  nilportugues/api-transformer             1.5.0
  nilportugues/json-api                        2.1.7
  nilportugues/laravel5-json-api           2.1.12
  nilportugues/serializer                     1.1.10
  nilportugues/serializer-eloquent         1.0.9

How can I fix?
Many thanks in advance.

[2016-04-04 23:12] nilportugues commented on #22
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.1.13

thanks for you patience @jonphipps, @wlepinski and @OskarD

[2016-04-04 23:13] nilportugues commented on #49
@samkeen ... problem is in the `OrdersTransformer`.

`'employee' => ['name' => 'employees.get', 'as_id' => 'employee_id']`
should be
`'employee' => ['name' => 'employees.show', 'as_id' => 'employee_id']` .

Fixed documentation. Thanks!

https://github.com/nilportugues/laravel5-jsonapi/commit/141c47dc75a1d7d16f8c70466104fdda70c9ad16

[2016-04-04 23:13] #49 closed

[2016-04-04 23:24] nilportugues commented on #30
@TBarina let me look into it

[2016-04-04 23:40] nilportugues commented on #30
@TBarina https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.1.15

[2016-04-04 23:40] #30 closed

[2016-04-05 08:33] OskarD commented on #50
I don't know what happened between then and now, but now I get a different error. I didn't, as far as I can remember, change my code and I am pretty sure it didn't change with the 2.1.15 update.

[2016-04-05 16:08] TBarina commented on #30
Many thanks. It works perfectly now.

[2016-04-08 07:37] OskarD commented on #50
...and now it's back to the original error. I have absolutely no idea what is happening.

[2016-04-12 08:13] apburton84 opened #52 "Status Code"
Is it possible to control the HTTP status code that is returned ?

[2016-04-12 10:39] nilportugues commented on #52
Yes. The helpers return a Response object, so all you need to do is modify its property.

This package endorses PSR-7 Request and Response community standard, and the code to do so is as follows:

[code]

[2016-04-12 23:03] #52 closed

[2016-04-13 09:15] OskarD commented on #50
@nilportugues is there anything I can do to troubleshoot?

[2016-04-13 21:24] philippkratzer opened #53 "Api ignores base route in href"
Hello,

I have a setup with an alias (in my case: http://localhost/testproject) to my laravel public directory.

Here is the example of the readme.md (omployee, orders example). This generates wrong links in href, like:
[code]
note that the "testproject" is missing in the link.
Interesting is, that the pagination seems to generate correct links, therefore i suspect that my setup is correct and the

[2016-04-13 22:34] nilportugues commented on #53
I'll check it out tomorrow morning (midnight over here).

Keep you posted @philippkratzer

[2016-04-14 12:30] OskarD opened #54 "DataObject throws a DataException with no message"
An uncaught DataException is thrown without a message or anything in the [DataObject class](https://github.com/nilportugues/php-json-api/blob/master/src/Server/Data/DataObject.php#L62)

I know it belongs to a different repo but I thought it was relevant to this too since this is where I have encountered it. Feel free to let me know if you want me to put it on the other issue tracker.

It was throw

[2016-04-15 11:26] rmarinleal commented on #39
What about this?

I have the same problem.
I'm programming a project with emberJs which uses jsonapi standard, and it needs the relationships in the included objets to build the relations between models (using Ember Data).

Thanks.

[2016-04-15 22:49] samkeen commented on #49
sorry for the delay @nilportugues , I was on vacation and away from Internet access for a couple of weeks.

I made this change as shown above, cleared the cache (`php artisan cache:clear`), restarted the server but still get the same error.

My OrdersTransformer@getUrls method is now:

[code]

When I set a breakpoint on the exception in its method, the value `$value['name']` is `'orders.show'` but

[2016-04-16 17:32] nilportugues commented on #49
@samkeen yes that's the correct way to do it.

[2016-04-17 20:10] marcelomarra opened #55 "Incompatibility with group prefix."
Using this routes.php:

Route::group(['middleware' => ['web'], 'prefix' => 'api'], function () {
    Route::resource('/schedule', 'ScheduleController');
});

This exception is thrown: Exception in Laravel52Provider.php line 51: Provided route name does not exist

This occurs because the Laravel52Provider ignores the prefix information:
" if ($routerObject->getName() === $value['name']) { "
" if ('

[2016-04-18 11:57] rmarinleal opened #57 "Relationships and the jsonapi 1.0 standard doesn't match."
Hi,

I'm using your library in a project with Ember (and ember data) as a FrontEnd Framework , which incude a jsonapi extension.

Well, ember data parse the relationships as the standard 1.0 specification, but your library doesn't fit to it.

First off all, your library always returns the relations as an array of data objects, but the specification sais that the relationships of a model have to be

[2016-04-18 18:33] nilportugues commented on #57
If you've got a PR I'm willing to accept it :+1:

[2016-04-25 08:33] apburton84 commented on #44
I believe this issue has now been resolved @nilportugues @gharding

[2016-04-25 08:55] OskarD commented on #50
@nilportugues if there is nothing that can be done about this, I will have to convert my whole project to Laravel. Is there anything I can do to help you with this?

[2016-04-25 10:15] apburton84 opened #58 "where does mapping->resourceUrlPattern get set"
In the data section of the response the links->self->href base ref is http://127.0.0.1:8080, however in the links sections of the response self->href base ref is http://mydomain.

Where does this link get populated from ? I'm using nginx.

[2016-04-25 12:17] apburton84 commented on #58
oops, sorry shouldn't have closed the issue.

[2016-04-26 07:53] nilportugues commented on #58
Hmmm this might be happening because of the fact the routing engine is different and I missed something in the provider file.

https://github.com/nilportugues/laravel5-jsonapi/blob/master/src/NilPortugues/Laravel5/JsonApi/Providers/Laravel51Provider.php

Probably in the `calculateRoute` method.

[2016-04-26 07:54] nilportugues commented on #50
I can see a bug there... in the original lib. I can fix this exception.

[2016-04-26 07:55] #44 closed

[2016-04-26 08:54] nilportugues commented on #50
@OskarD to benefit from this fix do a composer update. `nilportugues/php-json-api@2.1.9` should come in.

[2016-04-26 10:00] nilportugues commented on #50
@OskarD let me know if this clears up your bug or not so I can close this issue.

[2016-04-26 10:19] apburton84 commented on #58
Cheers @nilportugues I will investigate shortly

[2016-04-26 11:32] OskarD commented on #50
@nilportugues I think it solved the problem, thank you so much!

[2016-04-26 11:52] OskarD commented on #22
@nilportugues I am getting this response, is it supposed to happen with debug mode?
[code]

[2016-04-26 11:53] nilportugues commented on #55
Will investigate. This is clearly something that has not been taken into account in the Laravel5xProviders.

[2016-04-26 13:32] OskarD commented on #50
It reappeared when I tried to do this:

`return $resource->get($totalAmount, $results, $uri, Property::class);`
[code]

[2016-04-26 13:34] OskarD commented on #48
I figured out what you meant. It can be done using the 'appends'-variable and declaring a `getSomethingAttrubute` function :) Thanks!

[2016-04-26 13:34] #48 closed

[2016-04-26 13:51] nilportugues commented on #22
@OskarD nope. Check your value for `config('app.debug')`.

This certainly works, as I had to trigger debug mode to make this test. https://github.com/nilportugues/laravel5-jsonapi/blob/master/tests/NilPortugues/Laravel5/JsonApi/JsonApiControllerTest.php#L108

[2016-04-26 14:05] OskarD commented on #22
The debug variable was unset because Lumen doesn't use it apparently, so I copied the config-file from the Laravel framework directory and added `$app->configure('app');` to my `bootstrap/app.php`.

I also added `'debug' => env('APP_DEBUG', 'true'),` to my newly added `config/app.php` file, which doesn't contain the key by default. I thought this would solve the problem, but now I'm getting anothe

[2016-04-26 15:13] nilportugues commented on #50
Go for a composer update. I covered all cases in release 2.1.10

[2016-04-26 15:18] OskarD commented on #50
It works! Thanks again!!!

[2016-04-26 15:18] #50 closed

[2016-04-26 15:20] nilportugues commented on #50
@OskarD thanks for helping cleaning out the hard edges :+1:

[2016-04-29 14:35] apburton84 commented on #58
Issue can be resolved, via

    $_SERVER['HTTP_HOST'] = env('API_DOMAIN');

[2016-04-29 15:41] nilportugues commented on #58
@apburton84  Good to know, but API_DOMAIN looks to me like a custom variable. So $_SERVER['HTTP_HOST'] seems to be empty, and that's the problem.

[2016-04-29 15:45] apburton84 commented on #58
Well yes, the API_DOMAIN is a custom variable, setting $_SERVER['HTTP_HOST'] resolves the issue.

But yes, I agree the issue is $_SERVER['HTTP_HOST']  being empty.

[2016-04-29 16:04] nilportugues commented on #58
@apburton84 thanks anyways, this cuts down a lot of investigation time.

[2016-05-02 07:40] OskarD opened #59 "ErrorException DataObject:87 Undefined index: attributes"
I don't know if I'm doing something wrong, but when I try to `POST` to a `store` action using Lumen, I get the following error:

[code]
I didn't get this before, and I don't have a custom action for the route

[2016-05-02 11:55] OskarD commented on #57
I ran into the same problem, looking forward to your PR @rmarinleal :)

[2016-05-02 12:02] nilportugues commented on #57
Still haven't had time... to fix it. PR would be awesome @rmarinleal

[2016-05-02 13:15] andrewboy opened #60 "Ability to log deep errors"
There are some errors that raise in classes under \NilPortugues\Api\JsonApi\Server\Actions\ namespace get method on the catch block. This errors sometimes gives only "Bad Request, Request could not be served." error on the final output. Maybe this is fine, because user don't have to see the deeper errors in the system.

But could you give a chance to log this errors? Because this is important to d

[2016-05-03 07:21] OskarD commented on #59
Pretty sure I'm just stupid and broke my code so it doesn't send any JSON... Sorry ;)

[2016-05-03 07:21] #59 closed

[2016-05-03 08:38] OskarD opened #61 ""included" parameter"
According to the [JSON API documentation](http://jsonapi.org/format/#fetching-includes), the parameter "included" should be "include".

In [this package's documentation](https://github.com/nilportugues/laravel5-jsonapi) there is a definition that looks like this

&include=resource1.resource2,resource2.resource3

But then it says this (Note the difference in bold)

Using `include` will trigger a `Q

[2016-05-03 09:59] nilportugues commented on #61
Indeed it's a bug in the documentation... this is one quick fix.

[2016-05-03 10:10] OskarD commented on #61
The functionality does not follow the spec either

Skickat från min Samsung Galaxy-smartphone.<div>
</div><div>
</div><div>-------- Originalmeddelande --------</div><div>Från: Nil Portugués Calderó <notifications@github.com> </div><div>Datum: 2016-05-03  11:59  (GMT+01:00) </div><div>Till: nilportugues/laravel5-jsonapi <laravel5-jsonapi@noreply.github.com> </div><div>Kopia: Oskar Danielsson <oskar

[2016-05-03 14:25] nilportugues commented on #61
I do believe it follows the spec, maybe it's related to this bug.

[2016-05-03 14:28] OskarD commented on #61
The code accepts "included" instead of "include", but it doesn't do anything when used. Or am I missing something here?

[2016-05-04 08:39] OskarD commented on #61
I have done some more testing and it seems like there are only these two problems:

1. The doc is inaccurate (included instead of include)
2. Using "include" without any options throws a QueryException (I think it would be better if it just didn't include anything)

"included" does not make any difference, as intended, and "include=" with an actual relation works as it should

[2016-05-09 07:29] OskarD commented on #61
I have started a discussion [on the json api forums](http://discuss.jsonapi.org/t/how-can-i-not-include-any-relationships/456) and so far I do not know what the official convention is, but I would prefer an implementation where relationships are not loaded by default

[2016-05-09 12:44] #61 closed

[2016-05-09 12:46] nilportugues commented on #61
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.2.0

[2016-05-09 12:46] nilportugues commented on #38
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.2.0

[2016-05-09 12:46] #38 closed

[2016-05-09 14:05] OskarD commented on #61
Actually, since you never commented on that part I never implemented the default behavior change. I will do it now, because I think it would be helpful :)

[2016-05-10 07:34] OskarD commented on #57
The commit above only addresses the first problem described in this issue

[2016-05-10 09:00] nilportugues commented on #57
Any fix solving issues for this is very welcomed

[2016-05-10 12:01] OskarD opened #63 "Pivot data is not translated into the response"
If a class has something like this:
[code]
then an object (As an array) will look something like this:

[code]

The additional `foo` value is not returned in the response, so it is just completely lost.

I don't know how it should be implemented with the JSON API standard, but I hope we can figure out some way :)

[2016-05-10 12:16] OskarD commented on #63
Maybe this is how it should be returned?

[code]
or
[code]

Thoughts?

[2016-05-10 22:35] nilportugues commented on #57
Late at night, but I could get in the computer. Checking it @OskarD. Will update :)

[2016-05-10 22:45] nilportugues commented on #57
Alright. Just fix the test. Replace test with the json expected:

[code]

[2016-05-11 10:19] nilportugues commented on #63
@OskarD  Must be second option because we cannot have 2 types in the same json object

[2016-05-11 11:57] OskarD commented on #63
@nilportugues "type" was a bad example, I have changed it to foo so it makes more sense.

But I guess it was also a good example, because now we can see why the first solution won't work. I suggest we implement the second one (With a `pivot`-key inside `data`)

[2016-05-11 14:31] nilportugues commented on #63
Second still for me. I agree @OskarD

[2016-05-11 16:13] nilportugues commented on #57
Fixed

[2016-05-11 16:17] OskarD commented on #57
I don't think this solves the second part of the issue:

[2016-05-11 16:41] rmarinleal commented on #57
Hello,

Sorry for not answer before, we are having many perfomance problems with the jsonapi's standard and the implementation of it with this library.

When diving in the code, I can say it's a good idea in theory, but when you apply the library to a database with several relations (for example, one object have 5 belongs and 7 hasmany relations) the output can easyly make more than 200 petitions

[2016-05-11 21:30] nilportugues commented on #57
@rmarinleal feedback and examples based on your edge case are welcomed :+1:

[2016-05-12 08:21] apburton84 commented on #47
@nilportugues Any progress on this ?

[2016-05-12 12:32] nilportugues commented on #47
Because this is not really a bug but an optional part of the implementation, changed from bug to enhancement.

Still no progress. Got the idea on how to resolve it, but haven't code it.

[2016-05-16 18:18] directrix1 commented on #57
This bug has not been fixed. It just shifted from working only with belongsTo relationships to only working with hasMany relationships.

[2016-05-17 12:54] nilportugues commented on #57
@directrix1 would help if you provide a fix or code

[2016-05-19 20:27] mtangoo opened #64 "Possible to use without Laravel?"
Hi,
I use Eloquent models but I use homegrown framework so I don't use Laravel per se.
Can I still use your package?

[2016-05-19 22:11] nilportugues commented on #64
@mtangoo yes it is, you're looking for this: https://github.com/nilportugues/php-json-api

[2016-05-19 22:11] #64 closed

[2016-05-20 10:01] mtangoo commented on #64
I already use Symfony's HTTPFoundation to handle HTTP. can you help me understand how I can put that together? Should I open an issue in that specific repo?

[2016-05-20 10:41] nilportugues commented on #64
@mtangoo using Symfony? Then how about using the Symfony version https://github.com/nilportugues/symfony-jsonapi ?

[2016-05-20 10:42] nilportugues commented on #64
@mtangoo under the hood all uses PSR7 Response objects. Using the Symfony version, that requires the symfony psr7 bridge , will get all the problems solved for you.

[2016-05-20 11:27] mtangoo commented on #64
No. I use Symfony's HttpFoundation to power my Request/Response on my framework. So I was wondering how to go about.

Can you explain this?

[2016-05-20 11:43] nilportugues commented on #64
@mtangoo yeah open issue on the https://github.com/nilportugues/php-json-api

[2016-05-20 12:03] mtangoo commented on #64
cool thanks. I will do that

[2016-05-23 09:59] saminanirmala commented on #39
Relationships in the resources in the "included" section are not shown Is this issue fixed yet or not ??

[2016-05-23 10:00] OskarD commented on #39
No, not yet :-)
<div>
</div><div>
</div><div>-------- Originalmeddelande --------</div><div>Från: Samina Tuladhar <notifications@github.com> </div><div>Datum: 2016-05-23  11:59  (GMT+01:00) </div><div>Till: nilportugues/laravel5-jsonapi <laravel5-jsonapi@noreply.github.com> </div><div>Rubrik: Re: [nilportugues/laravel5-jsonapi] Relationships in the resources in the "included" section are not shown

[2016-05-23 10:03] nilportugues commented on #39
@directrix1 @rmarinleal @OskarD let's try get this one ironed out this week.

Bug should be around here. https://github.com/nilportugues/php-json-api/blob/master/src/Helpers/DataIncludedHelper.php#L185

[2016-05-24 06:58] saminanirmala commented on #39
can't we get different type name (when we write in getalias function in
transformer)if we use same model in two different transformer??.

On Mon, May 23, 2016 at 3:48 PM, Nil Portugués Calderó <
notifications@github.com> wrote:

[2016-05-24 07:04] saminanirmala opened #66 "can't we get different type name (when we write in getalias function in transformer)if we use same model in two different transformer??"

[2016-05-24 08:56] nilportugues commented on #66
It's all about normalizing, so as by default, no, it's not possible and it's intended to be that way. But that does not mean it's not possible to be done.

For instance, let's say you have a class: MyClass. If you want this to be mapped as type `my_class` you will just write a mapping file.

But if you want to have same class, different mappings, extend MyClass and map the extended class and give

[2016-05-24 09:00] nilportugues commented on #66
Could you provide me a use-case you want to do this? I will consider this as an enhancement if so.

[2016-05-25 15:36] martinmike2 opened #67 "JSON columns being filtered out by DataAttributesHelper"
Given a JSONB column named 'settings' with the following structure:
[code]
the settings attribute does not appear in the output.

Model:

[code]

Transformer:

[code]

[2016-05-26 09:17] andrewboy opened #68 "Cannot use custom request"
At now I cannot use custom Request in the controller to validate the incoming data.

[2016-06-03 13:55] OskarD commented on #63
@nilportugues which component should handle this? Is it php-api-transformer?

[2016-06-03 14:35] nilportugues commented on #63
"Pivot" should be "attributes". It's just another object in the end... you're actually fetching a new object so api-transformer.

Work from the https://github.com/nilportugues/php-api-transformer/tree/1.5.1 tag.

As 2.x will be PHP7 only. I intend to support 5.6 and 1.x. No worries.

[2016-06-03 14:36] nilportugues commented on #63
@OskarD I'm actually brushing up rough edges in the API Transformer projects for a major release sometime this summer with fixes for all bugs reported that have not been solved.

[2016-06-03 14:36] nilportugues commented on #68
@andrewboy can you please develop? Sample code would be awesome

[2016-06-03 14:38] nilportugues commented on #67
@martinmike2 looks like I'm missing something due to the JSONB fields. Need to dig in to see where did Eloquent handle the JSONB data and go for it and fetch it.

[2016-06-03 14:39] #66 closed

[2016-06-03 15:55] martinmike2 commented on #67
Just for some more information, I was able to manipulate the JSON Object to get it into the output.

I had to use this structure to get it to work:
`{
    "setting": {
        "data": [
            {
                "start": "2016-01-01 00:00:00",
                "end": "2017-01-01 00:00:00",
                "name": "Test Setting",
                "type": "date"
            }
        ]
    }
}`

[2016-06-06 09:03] andrewboy commented on #68
So the problem is that I cannot inject overwritten Request class to the inherited NilPortugues\Laravel5\JsonApi\Controller\JsonApiControllers' method, because the parent class method already got an injection and this case I have to use that existed class per moment.

**CustomRequest** not works:

[code]

Please develop? What do you mean? Fork the project and implement this?

Best regards,
Andrew

[2016-06-06 09:46] nilportugues commented on #68
If `CustomRequest` extends from `Illuminate\Http\Request` you should have no problem at all. Is this the case?

Your problem is you changed the signature of the method, I believe this is causing an error.

[code]

This cannot be done. Yet you can pass in your request object.

[2016-06-06 09:46] #68 closed

[2016-06-06 11:03] andrewboy commented on #68
But it's not gonna work with that way, no matter you extend from the `Illuminate\Http\Request`, you have to use the same class you inject. I tried it.
If this would work, my CustomRequest would work either.

`CustomRequest `
extends
`App\Http\Requests\Request `
extends
`Illuminate\Foundation\Http\FormRequest `
extends
`Illuminate\Foundation\Http `
extends
`Illuminate\Http\Request `
extends
`Symfon

[2016-06-06 14:27] andrewboy opened #69 "Json API Response class occures incompatibility reasons"
Because the package Response classes not extended from `\Symfony\Component\HttpFoundation\Response`, the usability is limited.

[2016-06-06 21:43] nilportugues commented on #69
Response uses PSR7. This does not limit the usability, but actually the opposite.

If you want to use Symfony's, use the bridge: http://symfony.com/doc/current/cookbook/psr7.html : It's already included by this package.

[2016-06-06 21:44] #69 closed

[2016-06-08 16:05] jeremymlane opened #70 "POST requiring all members"
Is there a reason that POST requires all members? It seems like that's not a part of the spec. It would be nice if we could define which members are required and also some default values for members that are not provided.

A good example of this being useful is for the created_at and updated_at fields that Laravel uses by default.

[2016-06-09 00:49] climbingblake commented on #70
I just ran into this very thing. I know I POSTed to the controller and created properly, but now it is failing with `"status": 422,
      "code": "unprocessable_entity",
      "title": "Missing Attribute",
      "detail": "Attribute `created_at` is missing.",
      "source": {
        "pointer": "/data/attributes/created_at"
      }`
very confused.

[2016-06-09 16:24] nilportugues commented on #70
This is a bug.

This can be fixed at https://github.com/nilportugues/serializer-eloquent-driver for sure by checking if `public $timestamps = false;` field is true, and force them there.

Problem comes from the Serializer's Eloquent adapter doing all the magic for you.

[2016-06-14 16:29] jeremymlane commented on #70
Not sure if I was totally clear. I think it would be helpful to be able to specify which members are required. Maybe a getRequiredAttributes() function on the transformer would do the trick.  I'd propose the following functionality:

**Default:** Require all attributes.
**If getRequiredAttributes() returns an array:** Only require the specified attributes.

The database schema would be responsible

[2016-06-14 18:37] nilportugues commented on #70
@jeremymlane I like the idea.

[2016-06-17 11:11] OskarD opened #71 "Creating resources with relations ignores relations"
An example of creating a resource with a relation can be found here: http://jsonapi.org/format/#crud-creating
[code]
In this example, a relationship between the newly created `photos` resource and an existing `photographer` should be created. This is not the case, at least with many-to-many relations (That's all I've tested).

With the current implementation, the `photos` resource is created witho

[2016-06-17 11:27] nilportugues commented on #71
@OskarD This is eloquent related once again.

Looks like editing https://github.com/nilportugues/laravel5-jsonapi/blob/master/src/NilPortugues/Laravel5/JsonApi/Actions/CreateResource.php and overriding the CreateResource

[2016-06-17 11:43] OskarD commented on #63
@nilportugues Are you sure about the name of the field (attributes)? I feel like it might be confusing when loading the model and getting it together with the other attributes, as if it belonged to the original resource. Wouldn't it be better to have them inside a pivot field?

[2016-06-18 11:10] scryba opened #72 "Relationships return not JSON API spec complaint"
JSON API response for /accounts/11e61481e3b68640b31b63eae8eae225

[code]

this is not working well with ember.js when getting relationships.

but rather the correct response should be:

[code]

or

[code]

[2016-06-18 17:49] scryba commented on #72
Amazingly now relationships are no longer included in the response.
what are my doing wrong?.

`{
  "data": {
    "type": "accounts",
    "id": "11e5fef7a59de46087ae2d0c4686f693",
    "attributes": {
      "title": "yo",
      "firstname": "yokhh",
      "lastname": "jhjh",
      "othernames": "sometimes",
      "email": "ladd@dkd.cc",
      "phone": "8888888888",
      "sender-id": "",
      "num

[2016-06-21 20:36] jeremymlane opened #73 "Mutators returning arrays result in 'Undefined index: @type' error"
Sorry to give you another bug. Assuming the model:

[code]

I'm getting an `Undefined index: @type` error when trying to use the api. If I change getLayoutSettingsAttribute() to:

[code]

Everything works fine.

[2016-06-22 08:58] nilportugues commented on #73
@jeremymlane mind checking the version used for nilportugues/json-api and nilportugues/laravel5-json-api?  Also, mind sharing the line throwing that error?

I'm sure it can be fixed quite easily.

[2016-06-22 14:06] nilportugues commented on #72
@scryba

Done some investigations. I can confirm this is due to eloquent, not the underlying nilportugues/json-api package, but most likely the eloquent-driver.

At least I know where I can look for the error. Thanks.

Keep you posted

[2016-06-22 15:12] scryba commented on #72
@nilportugues that's great, i am hopeful you will resolve the issue.

[2016-06-22 15:13] nilportugues commented on #72
@scryba about to release the fix.

[2016-06-22 15:14] nilportugues commented on #72
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.3.0

[2016-06-22 15:14] nilportugues commented on #73
Does https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.3.0 fix this? I believe it should.

[2016-06-22 15:15] nilportugues commented on #71
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.3.0 may fix this. Mind checking?

[2016-06-22 15:33] scryba commented on #72
Nice running composer update now. will give feedback soon

[2016-06-22 16:11] jeremymlane commented on #73
@nilportugues That did it. Seems to be working now. I had nilportugues/json-api@2.1.14 and dev-master of laravel-json-api before I updated, but can't recall the line number.

[2016-06-22 16:11] #73 closed

[2016-06-22 16:16] nilportugues commented on #73
@jeremymlane thanks for the feedback :+1:

[2016-06-22 17:41] scryba commented on #72
working perfectly with has many relationship

Has Many Relationship:

`"relationships":{
   "users":{
      "data":[
         {
            "type":"accounts",
            "id":"11e5fef782606a20b1e00b17cd71eddb"
         },
         {
            "type":"accounts",
            "id":"11e5fef7a59de46087ae2d0c4686f693"
         }
      ]
   }
}`

Belongs to relationship is good now but with a little t

[2016-06-22 21:09] nilportugues commented on #72
@scryba new fix. Composer update to fetch it :+1:

[2016-06-23 07:48] scryba commented on #72
@nilportugues I don't know if this is from my side after running composer update
the belongs to relationship is still the same.

this is my user model;

[code]

my country model

[code]

my transformers

[code]

[code]

Then config/jsonapi.php

[code]

[2016-06-23 08:02] nilportugues commented on #72
Your mappings look fine.

This helps recreating the model on my side.

[2016-06-24 01:23] directrix1 commented on #72
Neat, this is what I was looking into today. If it's a has many relationship (i.e. returns an Eloquent Collection) it must be encapsulated in the array form, from the spec:

Whereas, if it's a single object then it's not encapsulated in the array.

[2016-06-24 22:05] directrix1 commented on #72
I submitted a pull request with a fix for this to the eloquent driver's project.

[2016-06-24 22:58] nilportugues commented on #72
Already merged.

Composer update should bring the update to you all. Hopefully we can get this fixed thanks to your fix @directrix1. Thank you :+1:

[2016-06-25 00:41] scryba commented on #72
@nilportugues  and @directrix1 . works fine now, Great Work!!

[2016-06-25 00:44] scryba commented on #72
@nilportugues does it work well with https://github.com/dingo/api

i get error when running composer update;
Error:

[code]

[2016-06-25 08:29] nilportugues commented on #72
Dingo has its own routing system separate from laravel so it won't work due to this reason.

[2016-06-25 08:29] #72 closed

[2016-06-25 10:06] scryba commented on #36
also getAliasedProperties(), the properties are not renamed in the "included" section.

[2016-06-27 19:38] nilportugues commented on #53
@philippkratzer https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.3.1

[2016-06-27 19:38] #53 closed

[2016-06-28 12:49] floh1111 commented on #54
I also encountered this problem and in my opinion it is a must have to tell the client in detail what has gone wrong. Therefore one should be able to pass not only a string message to the DataException but also an ErrorBag if needed.

I did some work on more simple APIs previously and in my opinion Dingos ResourceException could be used as template for implementing this: https://github.com/dingo/a

[2016-06-28 15:57] nilportugues commented on #54
@floh1111 sure, I'm open to improvements.

Maybe it's all about creation an exception that can have this set and retrieved in the upper layers.

[2016-06-28 19:54] jeremymlane commented on #67
I can confirm this bug. The function that seems causing the problem is: `DataAttributesHelper::containsClassIdentifierKey()`.

If the last element in the JSON object is a string, then it works, but if the last element is another JSON object, it's filtered out.

For example, this works:

`{
  "menus": {
    "primary_menu": {
      "name": "Top Menu",
      "menu_id": 123,
      "options": [],

[2016-06-28 22:18] nilportugues commented on #67
@jeremymlane precise description will certainly help! good

[2016-06-28 22:43] nilportugues commented on #67
@jeremymlane mind using this version of the containsClassIdentifierKey method and letting me know if it fixes the issue?

[code]

[2016-06-28 22:49] #34 closed

[2016-06-28 23:01] jeremymlane commented on #67
@nilportugues No go. From what I can tell the problem may be with the foreach loop, but I don't know for sure.

[2016-06-28 23:02] nilportugues commented on #67
@jeremymlane https://github.com/nilportugues/php-json-api/blob/23d48aae51b842fd4454aba632b73b85f0896873/src/Helpers/DataAttributesHelper.php#L117 Hmm I believe removing the ` && empty($mappings[$value[Serializer::SCALAR_TYPE]])` will fix this.

Mind trying again?

[2016-06-28 23:05] jeremymlane commented on #67
@nilportugues Still nothing. However, removing this conditional fixes it:

https://github.com/nilportugues/php-json-api/blob/23d48aae51b842fd4454aba632b73b85f0896873/src/Helpers/DataAttributesHelper.php#L123

[2016-06-28 23:07] nilportugues commented on #67
@jeremymlane lemme fix the underlying lib and I'll provide a minor fix.

I'll let you know in a bit

[2016-06-28 23:27] nilportugues commented on #67
@jeremymlane https://gist.github.com/nilportugues/4dbeb21a9060c87d19d1623aa97a8dc6 mind testing again?

I don't want to do release until we can keep all functionalities OK

[2016-06-28 23:32] jeremymlane commented on #67
@nilportugues Wish I could say it was working, but still have the same issue. If I remove this conditional it works:

https://gist.github.com/nilportugues/4dbeb21a9060c87d19d1623aa97a8dc6#file-dataattributeshelper-php-L123

[2016-06-28 23:45] nilportugues commented on #67
@jeremymlane https://gist.github.com/nilportugues/48728e70272be3ae5f0960d43fa11ee4

[2016-06-28 23:47] jeremymlane commented on #67
@nilportugues Bingo. That did it.

[2016-06-28 23:48] nilportugues commented on #67
RELEASING RIGHT NOW,  :dancer:

[2016-06-28 23:49] jeremymlane commented on #67
Sweet! Thanks for you help!

[2016-06-28 23:51] nilportugues commented on #67
`composer update nilportugues/json-api` will do. Release 2.2.3 comes with the fix.

@jeremymlane now I can go to sleep happily. Thanks, this has been great teamwork :)

[2016-06-28 23:51] #67 closed

[2016-06-29 21:12] floh1111 commented on #31
I encountered the same problem and looked at the spec at http://jsonapi.org/format/#crud-creating

Looks like @andrewboy is right. I will make a merge request :)

[2016-06-29 21:36] #31 closed

[2016-06-29 21:47] nilportugues commented on #54
Will be pack in the 2.4.0 release (tomorrow) as the exception changed the constructor and adds a method

[2016-07-01 08:24] OskarD commented on #71
Sorry @nilportugues I had to abandon the library to make a deadline :( I will let you know if I get the chance to pick it up again!

[2016-07-01 16:17] nilportugues commented on #71
@OskarD no problem

[2016-07-01 19:00] #57 closed

[2016-07-01 19:03] nilportugues commented on #55
@marcelomarra this has been fixed as now `url` method is used.

https://github.com/nilportugues/laravel5-jsonapi/blob/master/src/NilPortugues/Laravel5/JsonApi/Providers/Laravel52Provider.php#L89

[2016-07-01 19:03] #55 closed

[2016-07-01 20:00] #63 closed

[2016-07-01 20:03] nilportugues commented on #54
https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.4.0

[2016-07-01 20:03] #54 closed

[2016-07-01 20:24] nilportugues commented on #71
BTW did you ever try https://github.com/nilportugues/laravel5-jsonapi#postputpatch-with-relationships ?
It's the way to do it.

[2016-07-01 20:24] #71 closed

[2016-07-05 13:46] mspiderv opened #76 "Pagination bug"
I installed fresh Laravel 5.2.38, created entity "content-type", seeded 100 records and installed this JSON API implementation. When I open http://127.0.0.1/api/content-types in my browser, I'm getting [this response](http://pastebin.com/GLgFqPpc).

As you can see here
`"page":{
         "total":100,
         "last":10,
         "number":1,
         "size":10
      }`
I have 100 records of "conten

[2016-07-05 15:03] nilportugues commented on #76
@mspiderv can you tell me which version of this package you're using? `2.4.0` ? `2.4.1`?

I'm thinking 2.4.1 brought in a bug.

[2016-07-06 11:22] mspiderv commented on #76
@nilportugues I'm using 2.4.0. I think the problem is the default Laravel's pagination page size is 15 and your default value in `NilPortugues\Laravel5\JsonApi\Controller\JsonApiTrait` on line 34 is 10 not 15.

[2016-07-06 11:56] alexjoffroy opened #77 "Update a resource with relationships"
I followed the example described in the readme to create a resource with attached relationships, and it works well.

The doc said that we could do the same on update but it doesn't seem to work.

Looking more closely, I think that we should add $data in get method from PatchResource and PutResource :
[code]

And of course add the same on JsonApiTrait:

[code]

With this we can access $data in upda

[2016-07-06 16:36] nilportugues commented on #76
Alright, thanks for pointing this out. I can now check :+1:

[2016-07-06 22:13] nilportugues commented on #70
As for now, added fix for $timestamps https://github.com/nilportugues/laravel5-jsonapi/releases/tag/2.4.2

[2016-07-06 22:17] nilportugues commented on #77
Can you provide a test too? I'm willing to merge this PR :)

[2016-07-07 12:09] alexjoffroy commented on #77
Which test case am I supposed to do ? I did not see any case for update in `JsonApiControllerTest.php`.

Other point: I will also need to make a PR on https://github.com/nilportugues/php-json-api as `PatchResource.php` and `PutResource.php` are parts of this package :)

[2016-07-07 17:52] nilportugues commented on #77
Write a new one @alexjoffroy. Provide one where you actually access to $data in updateResourceCallable :)

[2016-07-08 06:09] alexjoffroy commented on #77
OK. I'll do it as soon as possible !

[2016-07-08 11:51] IMucaMI opened #78 "Query parameter: Filter"
Whether this option is implemented? How to Use it, maybe I did not understand? Request type `/comments?filter[post]=1` or `/comments?post=1` does not give any results.

[2016-07-11 20:47] #77 closed

[2016-07-16 15:05] alexjoffroy commented on #70
@jeremymlane @nilportugues Are you working on something about this ? Indeed, I ran into a similar problem, and it could be great to have optional fields others than timestamps.

[2016-07-20 10:02] nilportugues commented on #78
Filtering is not implemented as the JSONAPI does not enforce any kind of standard on this.

It is read but not used throught the code.

https://github.com/nilportugues/php-json-api/blob/master/src/Http/Request/Request.php#L109

I've got plans on supporting this, as I've got it coded in a private project already. But need to write tests for this.

[2016-07-24 10:24] acidjazz opened #80 "Call to a member function compileColumnExists()"
Latest Lumen with [mongodb](https://github.com/jenssegers/laravel-mongodb) I'm 99% sure I have everything setup right from your example and I get:

Fatal error: Call to a member function compileColumnExists() on null in /Users/k/opsis/vendor/illuminate/database/Schema/Builder.php on line 116

![image](https://cloud.githubusercontent.com/assets/967369/17083245/16b4fcba-514e-11e6-9b4c-f6f75ea9acfd.p

[2016-07-24 10:27] nilportugues commented on #80
With this data it is impossible for me to determine what's wrong or if this is even an issue related to this library. I need context.

Some code + laravel-mongodb version + laravel5-jsonapi version, please?

[2016-07-24 10:38] acidjazz commented on #80
Apologies,

laravel-mongodb version is v3.0
laravel5-jsonapi version is v2.4

Doing some research it seems as if null is being passed instead of a Grammar

[2016-07-24 10:41] acidjazz commented on #80
More details:

Lumen service provider include:

[code]

jsonapi configuration file
[code]

routes.php
[code]

[2016-07-30 11:47] yurykabanov opened #81 "All record's ids are retrieved making requests extremely slow on large tables"
Hello. I've just tried to use this package for large table containing over 100k records and noticed quite a long response time (several seconds for ~100k).

I made new table with 1 million records and enabled query log. For random page in the middle of my table i get the following:
[code]
These are time of queries itself. Note that the first query took about 2600 ms (`select "id" ...`) but the who

[2016-07-31 11:19] yurykabanov commented on #81
PR #82

[2016-07-31 12:07] vanitom opened #83 "Documentation errors with Laravel"
Hello,

I discovered Laravel and Lumen. I want to create a clean API. I would like to implement JSON API. I tested your library.
I discovered some errors in the documentation.

For the controller, it would indicate the need to put the controller in the directory `"app/Http/Controllers/Api"`.
Since the namespace of the controller is not correct. There must be `"App/Http/Controllers/Api"`.

In the r

[2016-07-31 12:19] vanitom opened #84 "Problem with collections"
Hello,

I tested this package. Using the example, I detected an error with respect to JSONAPI specifications.

With the following query `/employees/10`, this is what I get:
[code]
It's perfect.

Here is what I get with the following query `/employees`:
[code]
This does not match the specifications. We should get the same format as the previous one with the "type", the "attributes", ...

Is this no

[2016-08-02 10:37] #81 closed

[2016-08-02 10:40] nilportugues commented on #84
@vanitom hmmm mind checking if the model has been mapped? I think that may be the issue.

otherwise I need to investigate further.

[2016-08-02 10:43] nilportugues commented on #80
@acidjazz does this happen if you turn off or default non-dot field names for $dates?

I believe the problem on the lib is there from the code you posted. Just to make sure.

[2016-08-03 07:03] Robindfuller commented on #84
I have the same problem after following your instructions.

[2016-08-03 09:21] nilportugues commented on #84
@Robindfuller thanks for the feedback, let me look into it.

[2016-08-03 17:04] jeremymlane commented on #78
+1 for this

[2016-08-03 17:10] jeremymlane commented on #78
@nilportugues Feel like sharing the code for what you have in your private project? I don't care about the tests at this point.

[2016-08-03 21:33] Robindfuller commented on #84
I'm pretty keen to get this working :-). I've tracked the problem down to ListResource.php . On line 80 you have ...

    $results = $resultsCallable();

    if ($results instanceof Collection) {
        $results = json_encode(['data' => $results->toArray()]);
    }

It basically bypasses any transformation -- accept the collection's 'toArray()' method. For now, I can only get it working replacing

[2016-08-03 22:09] Robindfuller commented on #84
I just removed the overriding 'get' method from NilPortugues\Laravel5\JsonApi\Actions\ListResource and it works fine now.

[2016-08-04 21:12] vanitom commented on #84
Thank you ! it works perfectly well now.

[2016-08-04 22:24] #84 closed

[2016-08-05 22:26] enzonotario opened #86 "Cannot instantiate abstract class..."
Hi!, I'm trying to implement this in laravel but when I run `php artisan route:list` for example, I get:
`Cannot instantiate abstract class Illuminate\Database\Eloquent\Model `

I have a model called Piso:
[code]

a PisoTransformer:
[code]

In my routes.php I have: `Route::resource('pisos', 'PisoController');`

and in config/jsonapi.php:
[code]

Can someone help me please??.. and sorry, I don't sp

[2016-08-06 09:01] yurykabanov commented on #76
Now you can check a PR #87 :)

[2016-08-06 09:31] #76 closed

[2016-08-06 09:32] nilportugues commented on #76
@yurykabanov Thank you very much!

[2016-08-06 13:04] nilportugues commented on #86
@enzonotario mind sharing PisoController so I can try recreate the scenario?

[2016-08-06 13:21] enzonotario commented on #86
Yes, I have PisoController:
[code]

[2016-08-06 22:50] enzonotario commented on #86
If I use the laravel5-jsonapi-dingo package, I get: `"Action App\\Http\\Controllers\\PisoController@index not defined.",`, with the same controller that extends JsonApiController..
I dont know why..
please help me!

[2016-08-10 19:19] jeremymlane commented on #70
@nilportugues Submitted several pull requests for this one. I left it out of the interface so it can be backwards compatible with the transformers everyone has already implemented.

[2016-08-12 16:30] nilportugues commented on #70
@jeremymlane  Only thing missing is making sure aliased properties work... and I'll close this issue

[2016-08-14 03:21] novs opened #89 "Cannot instantiate abstract class Illuminate\Database\Eloquent\Model"
**FatalErrorException in MappingFactory.php line 36:
Cannot instantiate abstract class Illuminate\Database\Eloquent\Model**

<ol class="traces list_exception">
       <li> in <a title="/home/vagrant/code/test/vendor/nilportugues/laravel5-json-api/src/NilPortugues/Laravel5/JsonApi/Mapper/MappingFactory.php line 36" ondblclick="var f=this.innerHTML;this.innerHTML=this.title;this.title=f;">MappingFac

[2016-08-14 03:43] #89 closed

[2016-08-14 03:46] novs commented on #89
My problem in DB connection.

[2016-08-14 04:19] novs commented on #86
Check DB connection

[2016-08-14 04:28] enzonotario commented on #86
Yes, now it works... but I don't understand how to do validations. I create a Form Request but it doesn't work.. if I use the "manual validation" doesn't work too... can anyone give me an example of how to use this package with "business validations"?
For example, with the Employee model in the README, how can I validate that the email_address is unique? or whatever other validations?

Thanks!

[2016-08-17 08:46] patayko opened #90 "ErrorException in MappingFactory.php line 91:"
Argument 1 passed to NilPortugues\Api\Mapping\MappingFactory::fromArray() must be of the type array, string given, called in E:\xampp\htdocs\local-domain\market-service\vendor\nilportugues\laravel5-json-api\src\NilPortugues\Laravel5\JsonApi\Mapper\Mapper.php on line 24 and defined.

Also tried to edit the file from the source. It seemed that the files is not loaded.

[2016-08-17 09:05] #90 closed

[2016-08-18 08:47] novs opened #91 "Included relationships loaded if include query parameter has NOT been provided"
How to disable default loading relations?

[2016-08-18 12:42] novs commented on #91
Or how it (relations) paginate?

[2016-08-19 11:50] malhal opened #92 "Do you plan on implementing error handling?"
Hi just wondering if you plan on implementing the [error handling part of the JSON API](http://jsonapi.org/format/#errors) spec? Where you would render all exceptions to the JSON errors dictionary and a suitable http code.

Apologies if you already do I just didn't see it mentioned in the Readme or when I briefly looked over the code.

[2016-08-19 14:47] nilportugues commented on #92
@malhal Actually it's implemented... I got to admit it requires better documentation.

[2016-08-19 14:47] #92 closed

[2016-08-19 14:49] nilportugues commented on #91
This depends on the eloquent model itself.

Set a boolean variable in the eloquent model to handle this case and make use of it to load or unload usage of relationship.

This is an if-else statement wrapping your relationships.

[2016-08-19 14:49] #91 closed

[2016-08-26 06:07] shermaza opened #94 "No mappings were found. Mappings are required by the transformer to work."
I'm getting the error `No mappings were found. Mappings are required by the transformer to work.` when I try to hit the route /users/1.

I've created a jsonapi.php file with the contents:
[code]

Let me know if I need to include anything else.

[2016-09-01 03:42] #94 closed

[2016-09-04 00:49] shermaza opened #96 "Example of a many-to-many route?"
Hi, I'm new to Laravel and Eloquent in general, but I am really liking this project so far. I have a question about how to set up a many-to-many route using these relationships:

Items Model
[code]

Monsters Model
[code]

I want to be able to call the route /monsters/{monster_id}/drops to find all of the items related to a monster, but I'm not even sure where to start. The example on the readme lo

[2016-09-05 04:04] alochym01 opened #97 "NilPortugues\Api\Mappings\ApiMapping::getRequiredProperties Error"
i follow the guide on github, and when i run php artisan route:list, i get the errors

PHP Fatal error:  Class App\Model\Api\EmployeesTransformer contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (NilPortugues\Api\Mappings\ApiMapping::getRequiredProperties) in /home/hadn/Laravel/learning_bootstrap_v4/laravel/app/Model/Api/EmployeesTransformer.php

[2016-09-05 09:15] shermaza commented on #96
I ended up using intermediate tables/models

[2016-09-05 09:15] #96 closed

[2016-09-14 13:46] nilportugues commented on #97
I'm sorry, this is a bug in the documentation.

Add the following piece to your code:

[code]

[2016-09-14 13:49] #97 closed

[2016-09-15 03:17] plattarsu opened #98 "Getting 400 bad request while using 'whereIn'"
I've been getting this error while trying to list the resources from OrderController@index() function. There are no parameters in index function.

[code]

Returned error is

[code]

Is this an issue or I'm missing something?

[2016-09-19 01:19] plattarsu commented on #98
$employeeID = array();
    foreach($user->teams as $team)
    {
        $employeeID[] = $team->id;
    }

This one works
    `Orders::query()->whereIn('employee_id', [1,2,3]);`

This one doesn't
    `Orders::query()->whereIn('employee_id', $employeeID);`

[2016-09-24 17:06] srottem commented on #78
@jeremymlane: I've implemented my own solution using RQL if you're interested - take a look here:

https://github.com/srottem/laravel5-jsonapi/tree/feature/filters

I don't know if Nil will want to pull it in and it's not extensively tested yet, but it seems to be working for my use cases.

[2016-09-28 23:23] marceloandrader opened #101 "How to add default values to POST, query by a scope"
Hey, thanks for this library I'm just starting to use it and looks really promising.

One thing that my app has is that is multi-tenant, so most of the api endpoints will return data with a specific scope, in a normal index controller I can do Entity::forOrg(Auth::user()->organization_id) returning only the Entity for the org of the user. What is the best way to do that on the JsonApiController su

[2016-09-29 18:04] marceloandrader commented on #101
I was able to fix the scope issue using global scopes.

But the other thing I tried setting the organization_id on the Entity::creating event, but that is never fired, looks like the DataObject expects all fields on the attributes key and get an error about 2 fields, one is the org_id that is not sent and the other is a relationship field.

I'm using Ember data to try to make a POST, so the POST l

[2016-10-03 02:38] tylergets opened #102 "Laravel 5.3 Support"
Release notes are located here:
https://laravel.com/docs/5.3/releases

Is anybody currently working on this?

[2016-10-12 18:41] jeremymlane opened #103 "Models with belongsToMany relationships are slow"
I have a model that has a belongsToMany relation and has 200 related models in that relation that is VERY slow to load. Takes several seconds to load when the SQL queries themselves are taking only ms to run.

I ran the xdebug profiler on it and it looks like `DataLinksHelper::relationshipsLinksSelf` is very very slow. When I comment this line:

https://github.com/nilportugues/php-json-api/blob/ma

[2016-10-13 06:04] gauravjain028 opened #104 "How to work with column contains json_encode of any array"
I am using a column in my database table, which is of text type and it stores json_encode string of any array/object. In this case how JSON API will work? How data will b arranged?

[2016-10-13 22:07] Stubbs commented on #94
Did you find the answer @shermaza ?

[2016-10-13 22:28] shermaza commented on #94
@Stubbs I apologize, I do not remember how I fixed this issue. However, my gut says that I had some mis-configured models or migrations in my project, or some other typo that I didn't originally detect. I would recommend re-examining each of your entities from migration -> model -> transformer -> controller and make sure nothing is mis-typed, named incorrectly, etc.

[2016-10-21 23:35] nojacko commented on #102
@tylergets Is 5.3 an issue? Doesn't look to me like any major changes. Would assume it works. I as because I'm trying to pick a JSON-API library for a new Laravel project... wanna pick the right one.

[2016-10-25 00:03] mspiderv commented on #102
Im working on this.

[2016-11-06 12:34] joelperry93 opened #109 "Formatting date on models to ISO 8601 gives error"
I'm trying to format the date properties on my models to conform to ISO 8601 by using the $dateFormat property on the model classes. When I override this property in the models, I get a "bad request" error on all requests

[code]

Is modifying this property the best way to get ISO 8601? And how do I track down the actual issue here? There isn't anything in storage/logs/laravel.log. Is there a sepe

[2016-11-10 17:52] MichaelMNM commented on #109
I had an issue that may be related to this.  I have to specify custom timestamps in my model.  After a bit of digging I found where the UPDATED_AT field was being set in the JsonApiTrait.php  I changed the line that sets the updated_at property in both put/patch ops to:

`$data['attributes'][$model::UPDATED_AT] = Carbon::now()->format($model::getDateFormat());`

Everything appears to be working on

[2016-11-14 12:21] joelperry93 commented on #109
Cool, thanks! Would be good to see this merged in.

[2016-11-17 14:23] mpash commented on #102
@mspiderv Do you have an estimated time that this will be compatible with 5.3? Can we just pull in what you have and change the package requirements from 5.2 to 5.3 since there doesn't appear to be anything that will break? Thanks!

[2016-11-17 20:19] mspiderv commented on #102
@mpash I dont know why tests failed. Cant fix this now. If you can help, do it.

[2016-11-17 20:22] Stubbs commented on #102
I've fixed the tests, see my comment on https://github.com/nilportugues/laravel5-jsonapi/pull/108, but it breaks BC with Laravel 5.2

[2016-11-17 22:41] mpash commented on #102
Yeah I'd love to help. I'm in the middle of a project at work but it makes sense to help out as part of the project

[2016-11-29 02:24] mpash commented on #102
@mspiderv I've tried getting this up to spec, but I've hit a wall. I think this is beyond my abilities. Sorry.

[2016-12-06 11:22] YanDatsyuk commented on #102
I got the error "Laravel version 5.3.26 is not supported. Please use the 5.1"

[2016-12-07 15:33] mpash commented on #102
@nilportugues Any idea on when you'll be updating this or are we in the Abandonware stages?

[2017-01-09 15:15] r-moiseev commented on #102
Trying to install on 5.3

So far i have issue with Passport that requires psr-http-message-bridge 1.0 but this package requires 0.1

[2017-01-09 21:17] mpash opened #113 "Abandonware"
Project has been abandoned by the owner.

[2017-01-12 05:48] #98 closed

[2017-01-14 14:59] kc22033 commented on #113
Anybody aware of good alternatives? This solved a problem & sad to see it abandoned.

[2017-01-16 10:18] MurciaFrontend commented on #113
@kc22033 I had to include a new version of our API that implements JSON API in Laravel 5.3. As I saw this project deprecated I decided to use an implementation of JSON API that is framework agnostic: https://github.com/neomerx/json-api

[2017-01-16 10:18] Luisetelo commented on #113
@kc22033 I had to include a new version of our API that implements JSON API in Laravel 5.3. As I saw this project deprecated I decided to use an implementation of JSON API that is framework agnostic: https://github.com/neomerx/json-api

[2017-01-18 08:42] M0S4YSH3LL0 opened #114 "getAliasedProperties() and getHideProperties() are ignored in relationships"
**WorkerTransformer**

`<?php namespace App\Models\Transformer;

use App\Models\Worker;
use NilPortugues\Api\Mappings\JsonApiMapping;

class WorkerTransformer implements JsonApiMapping
{
    /**
     * {@inheritDoc}
     */
    public function getClass()
    {
        return Worker::class;
    }
    /**
     * {@inheritDoc}
     */
    public function getAlias()
    {
        return 'worker';

[2017-01-18 10:37] #114 closed

[2017-01-18 16:08] M0S4YSH3LL0 opened #115 "Can't add requiredProperties()"
In DepartmentTransformer:

`    public function getRequiredProperties()
    {
        return ['department', 'dept_floor_id'];
    }
`

[code]

[2017-01-24 10:06] davedriesmans opened #116 "Where can i specify the default page[size] ?"
Where can i define the page[size] ?

[2017-01-24 17:29] Luisetelo commented on #102
I also installed it on Laravel 5.3 and got the same error thant @YanDatsyuk when I try to consume the API.

I'm interested in this project, hope it wasn't deprecated yet.

[2017-01-26 23:47] 60days commented on #113
Thanks @Luisetelo . Did you have any issues transitioning over? There seems to be a reference implementation in Laravel here https://github.com/InactiveProjects/limoncello-collins/ but it may be out of date.

[2017-01-30 10:27] Luisetelo commented on #113
Hi @60days, as you probably know, you need two operations, encoding and decoding to send and receive requests in JSON API format. That library offers you an encoder, but you need to create your own decoder which can be big issue (it has some, but are very simple). Futher reading [here](https://github.com/neomerx/json-api/issues/120). That is for me the main drawback.

[2017-02-05 14:21] mspiderv commented on #102
Laravel 5.4 released :)

[2017-02-13 06:39] patayko opened #117 "Slow request on resource with alot of relationship items even if the relationship is not included"
Included or not included relationship request takes the same time to query. It would be great if none included relationship is completely excluded in the request stack.

[2017-02-15 02:46] patayko opened #118 "Adding required attribute. Causes an error"
MappingException in MappingFactory.php line 302:
Could not add required property 0 in class App\Booking because it does not exist.

Based on the code on MappingFactory.php line 302 the keys of the array was used to conditions making the values ignored and a value 0 was tested causing an exception.

[2017-02-15 02:57] patayko commented on #118
example:

Valid
["note" => "note",
"status" => "status",
"reservation" => "reservation",]

Cause Error
["note",
"status",
"reservation" ]

[2017-03-24 15:56] HennerM opened #119 "Not compatible with nilportugues/api-transformer anymore."
api-transformer got updated to PHP 7, resulting to incompatibility with this package, because php-json-api requires `"nilportugues/api-transformer": "^3.0.0",`  in it's package.json

[2017-04-17 13:13] sriramgk commented on #102
I tried on Laravel 5.4 :(. "Laravel version 5.4.18 is not supported. Please use the 5.1 for the time being".

[2017-04-17 16:17] ghost commented on #102
@srigmca13 try `composer require nilportugues/laravel5-jsonapi dev-master`
Packagist may not have propagated yet. Use this trick to keep up-to-date.

[2017-04-18 08:45] sriramgk commented on #102
@mpash I tried `composer require nilportugues/laravel5-jsonapi dev-master`

[code]

I also tried without `dev-master` and getting the same error. Is anything I have to do with the composer config?

[2017-04-18 08:48] sriramgk commented on #102
@mpash Is this correct one?

 `composer require nilportugues/laravel5-json-api dev-master`

[2017-04-20 15:23] ghost commented on #102
@srigmca13 the format is `dev-{branch-name}`

[2017-04-20 15:24] ghost commented on #102
@srigmca13 https://getcomposer.org/doc/articles/aliases.md

[2017-04-28 20:14] pascal08 commented on #102
`dev-master` is still not compatible with the L5.4 release. Any idea on when this will be made compatible? If you need help, please let me know. :)

[2017-05-26 06:25] yurik3zzz opened #120 "Multiplay connection and Lumen 5.4 support?"
1) Employees connected to mysql and Orders connected to postgres. It`s possible?
2) Laravel / Lumen 5.4 supported?

Thanks

[2017-05-31 00:30] GregPeden opened #121 "Authorizer runs before Validator, exposes runtime error risk"
I THINK, per this experience, that the validation test relationshipRules() is run AFTER the authorizer is run. That might be okay, it just means that the authorizer logic has to assume that required attributes or relationships might not be present or may be set to null (meaning 'no relationship'). This seems undesirable, but maybe it's important, in which case this should be well documented.

Exam

[2017-06-01 06:09] victorsferreira commented on #90
Did you manage to make it work @patayko ?

[2017-06-01 06:16] victorsferreira commented on #97
Please, update the documentation

[2017-06-01 06:24] victorsferreira opened #122 "Laravel 5.2 - "Argument 1 passed to MappingFactory::fromArray() must be of the type array, string given""
I'm setting up an example application as documented on Github and I get this error:

[code]

I just the default Employees and Orders resources.

By the way, I had to add these lines to EmployeesTransformer

[code]

And `namespace App\Http\Controllers\Api;` to the namespace of EmployeesController.

Another informations:

The transformers are located in App/Model/Api
The models are located in App/Mo

[2017-06-01 06:28] victorsferreira commented on #122
Alright just found the error:

I named OrdersTransformer as OrdersTransformer**s**

[2017-06-02 14:39] nilportugues commented on #113
Not abandoned... just saying.

[2017-06-02 14:39] #113 closed

[2017-06-05 05:34] victorsferreira opened #123 "Can't create or update"
I followed the steps in the documentation to create a Clients collection and although I can read the collection and its items (/clients and /clients/:id) I can't POST or PUT to it.

It gives me a generic error:

Going to that line and printing the `$errorBag` variable I get this:

So it says **"Unsupported Action"** and **"Resource type clients not supported."**, what am I missing?

So I probably

[2017-06-07 11:14] ghost opened #124 "Laravel 5.3 & 5.4 Support"
Please update your package to include support for Laravel 5.3 and 5.4.

[2017-06-07 11:15] mpash commented on #113
@nilportugues It has been half a year.

[2017-06-07 12:15] nilportugues commented on #113
@mpash this project is being used in production by companies and are happy with it. So please, stop bitching.

If you found a bug, provide an issue and a PR fixing it. Or at least data to reproduce the bug.

[2017-06-16 13:58] GIANTCRAB commented on #124
Hello! Is there anything I can help with to make this compatible with 5.4?

Thank you.

[2017-06-24 09:47] pascal08 commented on #124
Bump.

[2017-06-29 13:15] pascal08 opened #125 "[Deleted issue]"
Consider this as deleted.

[2017-06-29 13:20] #125 closed, assigned to nobody

[2017-08-01 16:56] fatkhanfauzi opened #126 "is there any example for Lumen ?"
I use Lumen 5.4 for this.

I follow your example, but i get FatalThrowableErrorClass 'App\Http\Controllers\RequestFactory' not found

thanks

[2017-08-08 17:53] fatkhanfauzi commented on #124
up!!

[2017-09-13 11:40] rduque1 opened #127 "getAliasProperties are not working for included relationships"
When I get a resource, the aliases for the properties are well done, but the aliases for the included relationships are not used.

[code]

As you can see the order has in the properties `_` as in the mapping is defined in the aliases to use `-`.

[code]
It the same for the order relationship. What did I do wrong?

[2017-09-27 10:30] tooshay opened #128 "Laravel Passport Compatibility"
I tried naively to add the package to my L5.5 project with Passport (which depends on symfony/psr-http-message-bridge v1.0) and got this:

[code]

[2017-12-17 05:46] danDanV1 opened #130 "Polymorphic models"
Does it have built in support for polymorphism?

[2017-12-20 15:32] dklesev opened #131 "Maintenance"
What's the current situation? Is the repo still maintained?

[2020-05-04 17:28] ben221199 opened #132 "Make compatible with Laravel 6.0"
At the moment, I cannot use this repository on Laravel 6.0.